[2015-02-26 10:46] Gawen opened #1 "Usernames are case sensitive"
Hey,

Nice project :)

Tried to "github-awards" me but didn't work. My username is `gawen` but the page answers "User gawen not found".

As you see, I **do** exist ;-)

[2015-02-26 13:35] vdaubry commented on #1
In fact your user is missing from the database, I will reimport your user and your repo and calculate the ranking again.

Thanks for reaching out !

[2015-02-26 15:29] donutdan4114 opened #2 "Need finer grain locality support."
Grouping results by city is not accurate enough. For example, the city "Manchester" exists in England, and there are *many* cities "Manchester" [(36)](http://www.manchester.com/features/manchesters.php) in the United States.

Filtering by states/provinces/territories would be great.

[2015-02-26 15:34] NotBobTheBuilder commented on #2
+1, Noticed this for Birmingham, UK & US. This wouldn’t be a problem if we’d named American cities after something other than the Motherland, but then, naming things is hard ;)

[2015-02-26 15:44] astrofrog opened #3 "Take into account organization repositories"
Some users have repositories in organization accounts - it would be nice to take this into account. Maybe one could look at the fraction of commits made to a repo and share out the stars that way. So say two users contribute to a 1000 star repo equally, they would both get 500 stars. Or something like this?

[2015-02-26 15:45] Moter8 commented on #1
Seems that usernames are case sensitive. `moter8` returns this error and Moter8 does not.

[2015-02-26 15:49] larruda commented on #3
Following his idea, I think currently the ranking should be to projects/repositories and not for people. I could potentially be contributing to thousands of repositories and have none. It looks like this situation does not count right?

[2015-02-26 15:50] astrofrog commented on #3
@larruda - yes, that's a better way of putting it!

[2015-02-26 15:59] si14 opened #4 "Problems with user's country"
Here is an example:

https://github.com/mikera
http://github-awards.com/users/mikera

![screenshot from 2015-02-26 18 55 49](https://cloud.githubusercontent.com/assets/316910/6395430/22caeaf4-bde9-11e4-8eb8-5c48ee6f67d2.png)

![screenshot from 2015-02-26 18 55 59](https://cloud.githubusercontent.com/assets/316910/6395431/22cf0922-bde9-11e4-8664-2350f19d3288.png)

[2015-02-26 16:01] Gawen commented on #1
Indeed! It works with `Gawen`

[2015-02-26 16:03] knowtheory opened #5 "Columbia Missouri, South Carolina & Maryland are all counted as the same city"
and they're definitely not! :)

Poking around the profiles of folks on this list: http://github-awards.com/users?city=columbia&language=ruby&type=city will demonstrate the issue.

[2015-02-26 16:19] vdaubry commented on #5
Thanks, i'll have a look and re-run geocoding for the corresponding users

[2015-02-26 16:20] vdaubry commented on #4
Yep, I had to geocode most location with Openstreetmap which is far less accurate than Google Maps API.
I'll gecode the corresponding profile again

[2015-02-26 16:28] vdaubry commented on #3
At the moment i only take into account repositories you own. To include repositories you contribute to it would require to evaluate your contribution (number of lines commited ?)
You can't get all stars only for updated a readme...

In any case we'll have to use [githubarchive](https://www.githubarchive.org) in order to get that kind of information.
I'm going to think about what's feasible. If you

[2015-02-26 16:35] vdaubry commented on #2
Good point !

First idea would be to add a state column to the DB and geocode again all locations. I'll also have a look at the results from Google Map API and OpenstreetMap for the state information.

[2015-02-26 16:37] astrofrog commented on #3
@vdaubry - fraction of commits to a repository is probably a good place to start. Number of lines is not meaningful (because of e.g. data files, etc.). Most highly starred repositories won't accept arbitrarily large numbers of non-useful commits. I'd argue you should get a fraction of stars that reflects your contribution, so e.g. someone contributing 10% of the commits of a 1000 star repo gets 10

[2015-02-26 16:47] pfefferle commented on #4
Same for my profile:

https://github.com/pfefferle

[2015-02-26 16:58] sirwolfgang commented on #4
It says I am in the philippines, rather then `United States`

[2015-02-26 17:49] gkcgautam commented on #4
It shows Serbia as my country, although I have mentioned Mumbai, India in my profile :(

[2015-02-26 18:24] zoechi commented on #3
+1
I have all open source projects I take serious in a organization account of mine.

[2015-02-26 18:40] benjamincharity opened #6 "Stars per language may be wildly inaccurate."
First off, this is a really cool project!

I did notice that in some cases the ranking seems to be completely wrong...

If you look up who the top Atlanta based users in CSS are, user Alindeman is miles ahead of everyone else. But when you dive it to see _why_that is, there is only one CSS based repo with any stars at all and that repo has nothing to do with CSS at all: [upgradingtorails4](https:/

[2015-02-26 21:00] scottrblock commented on #4
Keeps showing me in the Philippines too, rather than United States.

[2015-02-26 21:00] genehack commented on #5
+1 for Salem Oregon and Salem Mass...

[2015-02-26 21:10] ming13 opened #7 "Profile Edits"
Are profiles refreshed after editing? Is there any way to trigger this? Fixed my GitHub location information, but still getting “we couldn’t find your city from your location”.

[2015-02-26 21:37] moneypenny commented on #7
Same here. It interpreted "Kentucky" as "Australia", so I updated my Github profile to include city + state. Still shows Australia on github-awards, though.

[2015-02-26 21:58] jwise opened #9 "Remove profiles"
Users must be able to remove themselves from all ranking.

Here are some reasons why a user may prefer not to be listed.
* For instance, a user may prefer not to be listed in a list of users in their city (the information is publicly accessible, but they would prefer not to be aggregated).
* A user may have other privacy concerns, not just of their location
* A user may believe that ranking is not

[2015-02-26 22:05] jwise commented on #9
One argument, by the way, is that ranking should be opt-in.  This is how GitHub Resume (https://github.com/resume/resume.github.com) does it.

[2015-02-26 22:07] tdfischer commented on #9
:+1: for opting in. I'm not one to be used to rank others.

[2015-02-26 22:20] skimbrel commented on #9
I'd like out as well.

[2015-02-26 22:21] jdalton opened #10 "detect stars by organizations a user belongs to."
Several projects are in an org and devs contribute to them but those don't show up on their star score.

[2015-02-26 22:40] lupidan commented on #7
My city is not being recognized for some reason, but a friend has the same city as me, and it is recognized correctly. :(
I also tried editing with the format "City, Country", but I am getting the same results

[2015-02-26 23:19] asmallteapot commented on #9
:+1:

[2015-02-26 23:32] n1k0 commented on #9
Same.

[2015-02-27 00:10] JedWatson commented on #3
+1

I think it would be a shame if this sort of site disincentives project maintainers from moving their repos into orgs. I've written 99% of KeystoneJS but late last year I moved it into its own org as a recognition of the growing community and contributor base. This opened up a lot of enthusiasm around the project (it became a community identity rather than being seen as my own vanity project) a

[2015-02-27 00:12] JedWatson commented on #10
See #3 - is this the same issue @jdalton?

[2015-02-27 00:26] jdalton commented on #10
Ah ya dup.

[2015-02-27 00:26] #10 closed

[2015-02-27 00:27] jdalton commented on #3
:+1:

[2015-02-27 01:57] AustinDizzy commented on #1
In my case, neither AustinDizzy nor austindizzy work. Both return that the user is not found. To prevent this from happening to a larger range of users, if the user is not found on the first go it should check the live API to see if the user exists and add them accordingly if necessary.

[2015-02-27 03:10] RobFreiburger commented on #5
I'd say this is a duplicate of #2

[2015-02-27 09:10] kostiakoval opened #11 "Can't fetch data for profile"
http://github-awards.com/users/search?login=kostiakoval
I've renamed my account a month ago.
I can't see my town and country. I have public repos but they are not visible in ratings :(

[2015-02-27 09:49] kostiakoval commented on #11
I have repose and many start
https://github.com/search?utf8=%E2%9C%93&q=fullname%3A%22Kostiantyn+Koval%22+user%3Akostiakoval&type=Repositories&ref=searchresults

Is there a way to refetch user account ?

[2015-02-27 09:53] FlexMonkey commented on #4
Would you mind looking at my geocode?

https://github.com/FlexMonkey

[2015-02-27 10:01] qidane commented on #4
My github profile has "St Andrew, Scotland" entered, but award site is showing me as "Chambersburg, United states"

[2015-02-27 11:17] vdaubry commented on #9
I'll remove your accounts, all your data will be suppressed from the ranking computation and personal informations removed from the database. I'll update you when it's done.

[2015-02-27 11:18] vdaubry commented on #11
I'm working on it, stay tuned.

[2015-02-27 11:34] kostiakoval commented on #11
Sweet, thanks! @vdaubry

[2015-02-27 11:37] matteocrippa commented on #11
Hey @vdaubry, I noticed that scraping my profile the script set me in Madagascar, it seems not to recognize Italy

[2015-02-27 11:58] proofit404 commented on #7
+1 for this fix

[2015-02-27 12:12] ncw commented on #4
[Mine](http://github-awards.com/users/search?login=ncw) has "Russian federation" for "UK" in my github profile.  I changed my location to "Guildford, UK" in the hope it might improve!

[2015-02-27 12:18] AD7six opened #13 "Bad geo-location"
I took a look at the source, but couldn't see where it comes from.

I'm based in Spain, and [my github data reflects that](https://api.github.com/users/AD7six). However http://github-awards.com/users/AD7six shows the UK, which is quite confusing. I'm also, apparently [surrounded by Spaniards in East Hampshire](http://github-awards.com/users?city=east+hampshire&language=php&type=city)

Where is thi

[2015-02-27 12:50] whackashoe commented on #4
Mine also says Philippines; I am in US

[2015-02-27 15:23] philipobenito opened #14 "Rank by stars on repos that the user has ownership of"
I feel a more accurate representation would come from including all stars for repository that the user has ownership of. A lot of developers will use their local profiles for fiddling around but release their open source software via an organization.

[2015-02-27 15:43] khellang commented on #14
Dupe of #3?

[2015-02-27 15:46] ecnalyr commented on #7
Has anyone found a way to reliably replicate this?

[2015-02-27 16:10] maxehmookau commented on #2
:+1: Yeah, Birmingham UK/US is a big one.

[2015-02-27 16:37] philipobenito commented on #14
Yes, sorry missed that, will move to that conversation

[2015-02-27 16:37] #14 closed

[2015-02-27 16:40] philipobenito commented on #3
Definitely would agree that there's a better way to rank. A lot of developers will store their open source repos in an org and only use their personal accounts for contributions and fiddling therefore the current algorithm doesn't provide the best accuracy.

Could see this being a great tool though for many reasons if the ranking accuracy is improved.

[2015-02-27 16:50] barryvdh commented on #4
Perhaps also related, my country is 'the Netherlands', but it also occurs as just Netherlands..

[2015-02-27 17:13] andres-root commented on #4
Same in my profile, no matter how I write the city name, it never can get my city. https://github.com/andres-root

[2015-02-27 17:56] keathley opened #15 "Re-collecting user data"
First of all I think this is a really cool project! :tada:

I was wondering if it was possible to re-index geolocation data.  I added my location recently and its not present on the site.  Is there any way to re-index that data?

Thanks

[2015-02-27 18:18] missinglink commented on #13
I'm 15th for Javascript for Ireland, woohoo!

[2015-02-27 18:21] proofit404 opened #16 "Russia and Russian federation must be same country."
Also there is the same bug with russian cities `Nizhniy novgorod` and `Nizhny novgorod`.

P.S. Thanks for this project. Awesome idea!

[2015-02-27 18:41] jwise commented on #9
Thanks @vdaubry! I appreciate it!

[2015-02-27 20:43] natzim commented on #15
:+1: for this. I set my location to UK, and it detected it as Russian Federation. Changed it now and still says Russian Federation.

[2015-02-27 21:09] evermeer opened #18 "'The Netherlands' and 'Netherlands' Is the same country"
'The Netherlands' and 'Netherlands' Is the same country

[2015-02-27 21:09] evermeer opened #19 "'The Netherlands' and 'Netherlands' Is the same country"
'The Netherlands' and 'Netherlands' Is the same country

[2015-02-27 21:09] #19 closed

[2015-02-27 21:41] lukeb-uk opened #20 "Branding and naming goes against GitHub's policies"
GitHub Awards has been confused as an actual GitHub project. GitHub explicitly ask that you avoid naming projects anything that makes it seem like an endorsement:

The background for the site also seems to be a modified version of the Octocat, which is again against their policies:

Whilst GitHub Awards does describe what the project does, I feel that it needs to be renamed or it may be closed dow

[2015-02-28 00:24] admix opened #21 "Can't find my username via search: admix"

[2015-02-28 00:36] rafmagana opened #22 "People from "New Mexico" (state in US) are being included in "Mexico" (country)"

[2015-02-28 01:14] Masadow opened #23 "Haxe is broken"
Check my profile for instance

Also check the world ranking for Haxe

[2015-02-28 07:52] lavary commented on #4
Mine also says Spain but I'm in Iran

[2015-02-28 08:51] vdaubry commented on #4
I'm working on fixing locations now, i will update ranking today. Thanks for your patience

[2015-02-28 08:53] vdaubry commented on #23
Yep, that's broken, i'll have a look at it today

[2015-02-28 09:04] vdaubry commented on #22
Bug fixed, i'll update the ranking today

[2015-02-28 09:04] #22 closed

[2015-02-28 09:05] vdaubry commented on #21
I re-imported your profil, should be good once i update the ranking later today

[2015-02-28 09:05] #21 closed

[2015-02-28 09:12] vdaubry commented on #20
Thanks for raising this issue. I actually tried to reach GitHub without success.
Renaming the project would be the worst solution. If GitHub is worried about the branding i would love to address this issue with them and figure out a proper solution.

Untill then I will make the statement in the footer larger : "This project is not affiliated with the GitHub company in any way."

Regarding the logo

[2015-02-28 09:14] vdaubry commented on #18
Thanks it's fixed
I'll update the ranking today

[2015-02-28 09:14] #18 closed

[2015-02-28 09:18] vdaubry commented on #16
Thanks it's fixed.
I'll update the ranking today

[2015-02-28 09:18] #16 closed

[2015-02-28 09:19] vdaubry commented on #15
I updated your location. Bulk geocoding is not easy because of rate limiting. I need to work on a better solution for this

[2015-02-28 09:20] vdaubry commented on #15
Important note : I'll update the ranking today, it's not online yet

[2015-02-28 09:20] #15 closed

[2015-02-28 09:22] vdaubry commented on #13
Google map API can be used for bulk geocoding (limited to 2.500 calls / day)

To solve this problem part of the Geocoding was done with Openstreetmap API which turns to give quite poor results compared to Google map.

I updated your locations. I'll update the ranking today

[2015-02-28 09:22] #13 closed

[2015-02-28 09:24] vdaubry commented on #11
I updated your locations. I'll update the ranking today

[2015-02-28 09:24] #11 closed

[2015-02-28 09:39] vdaubry commented on #9
Ok all your accounts have been removed. I'll update the ranking today

[2015-02-28 09:39] #9 closed

[2015-02-28 09:41] vdaubry commented on #7
I'm working on adding github connect + refresh button.

Untill then i manually updated your profiles and will update the ranking today !

[2015-02-28 09:41] #7 closed

[2015-02-28 09:42] vdaubry commented on #5
Yep it's a duplicate of [#2](https://github.com/vdaubry/github-awards/issues/2) so i'll close this issue

[2015-02-28 09:42] #5 closed

[2015-02-28 09:44] vdaubry commented on #4
Locations are fixed, you'll see your updated profile when the ranking calcultation is finished

[2015-02-28 09:44] #4 closed

[2015-02-28 09:45] vdaubry commented on #1
Fixed, i'll deploy an update today

[2015-02-28 09:45] #1 closed

[2015-02-28 10:20] pfefferle commented on #4
I am still located at the Philippines...

[2015-02-28 10:24] gkcgautam commented on #4
@vdaubry Still displays Serbia for me.

[2015-02-28 10:50] vdaubry commented on #4
That's what i said : "you'll see your updated profile when the ranking calcultation is finished" ;)

[2015-02-28 10:52] pfefferle commented on #4
Ah ok, sorry and thanks 😉

[2015-02-28 11:04] vdaubry commented on #6
Github language detection is based on [linguist](https://github.com/github/linguist) library

It seems most files from this repo are considered markup files and excluded from language statistics : markdown, html, yml

This discussion explains why HTML files are excluded : https://github.com/github/linguist/issues/1019

There isn't really any ruby file in this repo (there is a helper.rb but all lin

[2015-02-28 13:18] proofit404 commented on #16
Thanks!

[2015-02-28 16:58] miguelgrinberg opened #25 "Some users are missing"
I can't find myself in the search.

[2015-02-28 23:01] keathley commented on #15
Thanks for taking care of this :+1:

[2015-03-01 01:23] jessesquires opened #26 "Duplicate users displayed in rankings"
URL after tapping "submit"
http://github-awards.com/users?utf8=✓&type=city&language=objective-c&city=San+francisco

The unicode (checkmark) breaks on Twitter. Thus, removing it:

http://github-awards.com/users?type=city&language=objective-c&city=San+francisco

This URL works, but now shows duplicates for each user.

[2015-03-01 03:47] technion opened #27 "Can't find my city"
Hi,

At first I thought this was because my Github location was "Australia" but I've updated it to refer to a city, and several days later this tool still claims it can't find my city, and goes on to present some defaults? for a search of Cuba.

[2015-03-01 04:00] lukeb-uk commented on #20
Adding a footer does not address the fact that your project breaks their policies in terms of naming, especially when the footer is below the visible screen space on a 1366x768 screen (most popular screen size according to http://gs.statcounter.com/#resolution-ww-monthly-201411-201501).

[2015-03-01 04:07] h6ah4i commented on #25
Yeah, I cannot find my account too.

[2015-03-01 08:45] lavary commented on #25
If you're testing on your smart phone, make sure you username isn't capitalized. Apparently the search is case sensitive.

[2015-03-01 16:42] jeremykendall commented on #20
I love this project, a lot, but I have to agree with @lukeb-uk. The name should be changed posthaste. A name change won't kill a great project (see [Aura PHP](http://auraphp.com/about) [name changed from Solr to Aura] and [Common Markdown](http://blog.codinghorror.com/standard-markdown-is-now-common-markdown/)). I would *hate* to see this get shut down over naming conflicts and ToS violations.

FW

[2015-03-01 16:50] jeremykendall commented on #2
Related: The [#1 PHP developer in the city of Memphis, Tennessee](http://github-awards.com/users?city=memphis&language=php&type=city), @mikelbring, is actually in Nebraska (per his GitHub profile).

![screenshot 2015-03-01 10 44 27](https://cloud.githubusercontent.com/assets/288613/6431751/6809d7ec-c000-11e4-9f14-b6b13ec7f5a1.png)

![screenshot 2015-03-01 10 48 42](https://cloud.githubusercontent.

[2015-03-01 16:51] jeremykendall commented on #26
I'm seeing a lot of duplication as well. Here's a screenshot of what I'm currently seeing on the [Top Php GitHub developers in Memphis](http://github-awards.com/users?city=memphis&language=php&type=city) page.

![screenshot 2015-03-01 10 44 27](https://cloud.githubusercontent.com/assets/288613/6431749/13417e36-c000-11e4-8998-4c6ac719c45e.png)

Somewhat related: The #1 PHP dev in Memphis, TN is act

[2015-03-01 19:46] miguelgrinberg commented on #25
Yeah, this is not a case sensitive issue, at least not for me.

[2015-03-02 05:44] vdaubry commented on #27
Update are not automated yet, i'm working on it stay tuned.

[2015-03-02 05:44] #27 closed

[2015-03-02 05:45] vdaubry commented on #26
Sorry about that, i'm in the process of moving to another host and there was a DB problem. It's fixed now

[2015-03-02 05:45] #26 closed

[2015-03-02 05:51] vdaubry commented on #25
The case sensitive search bug is fixed. Your 2 users are missing from the DB, probably a problem related to github-archive dataset.
I'm working on adding a real-time update with github connect and a refresh button, that should solve these issues.

[2015-03-02 05:51] #25 closed

[2015-03-02 06:48] proofit404 commented on #16
Actually this issue still present both for Russia country and for Nizhniy novgorod city.

[2015-03-02 10:00] RaVbaker commented on #23
My profile is also broken.

[2015-03-02 12:04] tanuck opened #28 "All search inputs don't handle whitespace"
If you have a whitespace at the start or end of a search, be it for a user/city/country, the search fails. Fairly simple principle to trim both ends of the search text?

Regards,

[2015-03-02 13:17] GCorbel opened #29 "Does not work with login with capital letters"
As you can see in my page : http://github-awards.com/users/search?login=GCorbel. There is no result right now. It worked on 27-02-2015.

Thanks!

[2015-03-02 16:46] Inferis commented on #29
Same here :)

[2015-03-02 17:42] GCorbel commented on #29
I think it's because we have a capital letter in our name.

[2015-03-02 19:08] Trii commented on #29
Me neither. There is a bug with uppercase letters

http://github-awards.com/users/search?login=Trii

[2015-03-02 19:35] TaylorKolasinski commented on #29
Looks like in the following commit, they started downcasing usernames for search:

https://github.com/vdaubry/github-awards/commit/7488e4a733fe2da0f728dfc1920e6795ab7394b1

[2015-03-02 19:41] GCorbel commented on #29
@TaylorKolasinski, I think you're right. All usernames, in the database, have to be change for downcase.

[2015-03-02 21:38] goetas commented on #3
If you are a contributor of a project most probably you changed something more than a readme file

So, why do not assign all the stars from org repos to each member? (Looking at the commit history will be very painful)

[2015-03-03 00:01] fadils opened #30 "[Feature Request] Use more accurate ranking method"
Star-based ranking from our own repository is alright for a start.
However, this doesn't take into account contributions to someone else's repository.

For example, Jonny has one repo with 100 stars. Andy has no repo, but is a regular open-source contributor and has more than 100 commits on [Linux](https://github.com/torvalds/linux) repo (which has almost 20K stars)

It would be much better if the

[2015-03-03 00:42] marioidival commented on #30
It's great!

[2015-03-03 06:42] Parkayun commented on #29
Same here, too.

[2015-03-03 07:50] guisouza opened #31 "Warning! User guisouza not found =["
WHYY??? ={

[2015-03-03 10:54] RaVbaker commented on #29
@vdaubry please fix it!

[2015-03-03 15:52] kostiakoval opened #32 "Some repositories are missing"
For example:
I have 6 swift repositories (my own sourced repos)
https://github.com/kostiakoval?tab=repositories
But in report it says only 1
http://github-awards.com/users/kostiakoval

Those repos are few months old, (if you refetched data, they should appear in awards status)
I've seen this for other users too

[2015-03-04 02:28] vors opened #33 "Problems with PowerShell language report"
![image](https://cloud.githubusercontent.com/assets/816680/6477042/d105f644-c1d2-11e4-8759-1fb37924928c.png)

Problems are probably related:
1. PowerShell listed more then once (4+ times) in language list
2. Rank is less then total number of people for a few ratings.

[2015-03-05 02:18] eveliotc commented on #3
+1 I usually put the high profile stuff under my org e.g https://github.com/telly/MrVector

[2015-03-05 03:07] riophae opened #36 "China and PRC are not considered the same"
http://github-awards.com/users/turingou (China 1 / 2 642)
http://github-awards.com/users/nswbmw (People's republic of china 7 / 7 200)
Both users are Chinese. But they were ranked in different country lists.

[2015-03-05 10:40] XadillaX opened #37 "Help! No rank for me!"
http://github-awards.com/users/search?login=XadillaX

[2015-03-05 17:14] Gawen commented on #29
Same here.

[2015-03-06 04:13] tobegit3hub commented on #37
+1 for me

[2015-03-06 04:15] tobegit3hub commented on #36
We should fix it before some radical people take it seriously :bow:

[2015-03-06 04:43] riophae commented on #36
I'm sorry I'm not good in English... May be a bit misleading :)
Just wish all Chinese could be ranked in one list (by programing language).

[2015-03-06 07:02] Cee commented on #37
+1 for me

[2015-03-06 10:59] vdaubry commented on #28
Solved, closing this issue now

[2015-03-06 10:59] #28 closed

[2015-03-06 11:00] vdaubry commented on #20
You have a point. I tried to reach GitHub without success, ultimately it's their decision. Untill then, i'm closing this issue now.

[2015-03-06 11:00] #20 closed

[2015-03-06 11:03] vdaubry commented on #29
Hi everyone,

There was a case issue when uploading latest events from GitHub Archive last week end.
I'm currently switching to a real time ranking with Redis instead of a huge batch ranking with Postgres. In this process it will also solve references between users and repo.
I hope to get this in production by the end of next week.

Thanks again for your support and your patience ;)

Vincent

[2015-03-06 11:04] vdaubry commented on #31
Related to #29 , closing this issue

[2015-03-06 11:04] #31 closed

[2015-03-06 11:05] AstroProfundis commented on #37
+1 for me

[2015-03-06 11:07] vdaubry commented on #6
Closing this issue now

[2015-03-06 11:07] #6 closed

[2015-03-06 11:07] vdaubry commented on #32
Repositories data are coming from github archive, they recently changed the way they store events. Anyway i will add a refresh buttons that will allow your to manually ask for a refresh.

[2015-03-06 11:10] vdaubry commented on #30
I was thinking of adding something similar, that's a great idea.

We could use the number of contributions to the repo : https://developer.github.com/v3/repos/#list-contributors

[2015-03-06 11:11] vdaubry commented on #33
Thanks i'm working on adding real time ranking, it will also solve this issue.

[2015-03-06 11:11] #33 closed

[2015-03-06 11:12] vdaubry commented on #36
Thanks i'll fix geocoding for people from China.

[2015-03-06 11:12] vdaubry commented on #37
Related to #29, it should be fix by next week. Thanks for your patience :)

[2015-03-06 11:12] #37 closed

[2015-03-06 12:17] fadils commented on #30
That could work, too.
Even though one commit to a 1-star repo is for sure can be regarded less than one commit to a 100-star repo.

I mean, ranking algorithm is in another domain in itself.

So, it's up to you how close you want to represent the rank in reality.

[2015-03-07 15:10] lenville commented on #3
+1 Stars from a forked repo are counted independent of the source repo, such as [ [source](https://github.com/lukehoban/es6features) | [fork](https://github.com/lenville/es6features) ].

And even forks have their own fork => [check `$('.current-repository')`](https://github.com/lenville/es6features/network/members)

I am a novice at github and I think counting these in may encourage me a lot for m

[2015-03-09 13:21] lsjwzh opened #38 "Can not find JakeWharton!!!!!!"
JakeWharton is the one about android!

[2015-03-09 13:22] lsjwzh commented on #38
https://github.com/JakeWharton

[2015-03-09 15:17] Tonkpils commented on #38
Duplicate of https://github.com/vdaubry/github-awards/issues/29#issuecomment-76793369

[2015-03-10 19:59] dkvasnicka commented on #27
Do you think you could reopen this issue and close it when this is addressed so that we can "stay tuned" and be notified when it's done? ;)
Keep up the good job!

[2015-03-11 11:19] GuillaumeGomez opened #40 "My profile is found but incorrect"
Hi,

My profile is found and I'm located in the United States (???) while my profile says I'm in Paris. So I have no data on it.

[2015-03-13 04:34] andersennl commented on #29
I can't find myself neither (I never could). Yesterday I corrected my location in the settings. I used my country before, now it's the name of my city.

[2015-03-13 15:02] #38 closed

[2015-03-13 20:00] Kevnz opened #41 "My profile is empty"
My profile kevnz is blank with no information at all. This despite the following stats I was able to gather from github api
My repo counts
JavaScript: 278,
  null: 47,
  'C#': 15,
  Ruby: 7,
  CoffeeScript: 3,
  CSS: 10,
  ASP: 1,
  ActionScript: 1,
  Python: 3,
  HTML: 4,
  C: 2,
  Perl: 1,
  LiveScript: 1,
  PowerShell: 1,
  Java: 2,
  'Objective-C': 3,
  'C++': 4

 and my stars per repo

JavaSc

[2015-03-15 10:25] Mazyod commented on #41
+1

[2015-03-16 14:06] Tonkpils commented on #41
Duplicate of https://github.com/vdaubry/github-awards/issues/29

[2015-03-17 09:34] andersennl opened #43 "My account can't be found"
Maybe because I used to have "Germany / Denmark" in my location field? I recently changed it to the city I'm currently living in. Thanks :)

[2015-03-17 13:29] jackwanders commented on #30
I definitely agree that it's worth noting contributions made to repositories owned by others, as well as repositories that you are a collaborator on.

I won't even attempt to write an equation for this, or write how this data could be retrieved, but the following items I think would all play into a 'ranking':

* stars on repositories you own
* stars on repositories you are a collaborator on
  * we

[2015-03-21 11:59] metrue opened #44 "stars number is not correct"
take my account for instance.

https://github.com/metrue?tab=repositories

Stars on Ruby are more that 5
Objective C more 2
Javascript stars are more that 0.
but you can see:
http://github-awards.com/users/search?login=metrue

[2015-03-23 09:35] weakish commented on #36
China and PRC are not the same.

Both governments of China and PRC claims they stand for *the country*.
But this is a political issue.

Technically, China and PRC uses different country/region code: China uses `CN` and PRC uses `TW`.
Most software systems separate  locales between 'zh_CN' and 'zh_TW'.
So maybe this is not a bug.

[2015-03-23 10:37] riophae commented on #36
China and PRC are just the same, differing from ROC.
The last uses `zh_TW` and others use `zh_CN`.

FYI:
http://www.wikiwand.com/en/China
http://www.wikiwand.com/en/Taiwan

[2015-03-23 13:37] LuizCarvalho commented on #29
Still no solution?

[2015-03-23 16:59] weakish commented on #36
@riophae  Sorry I made a mistake.

[2015-03-23 17:02] riophae commented on #36
@weakish Never mind :)

[2015-03-23 19:33] mitulgolakiya commented on #32
:+1: for manually refresh. Even I have 4-5 repositories for PHP but it only displays 2 Repo.

[2015-03-23 20:11] RobertWHurst commented on #43
My profile also cannot be found. I don't think its because of location.

[2015-03-24 15:55] Tonkpils commented on #29
@LuizCarvalho I believe the solution is being worked on. I'm assuming https://github.com/vdaubry/github-awards/pull/39 will fix this issue once its finished. @vdaubry If there's anything we can do to help this move along let us know! :+1:

[2015-03-24 21:48] LuizCarvalho commented on #29
Oh great! Thanks @Tonkpils  and @vdaubry  :D

[2015-03-25 09:19] dciccale commented on #43
My location is not being recognized, I updated it but the website doesn't seem to care

[2015-03-25 18:49] RobertWHurst commented on #41
+1

[2015-03-27 13:07] bugalot commented on #43
Mine cannot be found either. Maybe because I recently changed my user name?
Thanks for this great project!

[2015-03-29 19:01] vdaubry commented on #36
Hi everyone, it's fixed and a brand new version of github awards with github connect and a blazing fast new hosting :)

Can you try and tell me if it works for you ?

[2015-03-29 20:06] vdaubry commented on #29
Problem fixed, i'm closing this issue now.

[2015-03-29 20:06] #29 closed

[2015-03-29 20:06] Inferis commented on #29
\o/

[2015-03-29 20:18] Mazyod commented on #29
:dancers:

[2015-03-29 21:26] vdaubry commented on #23
Fixed

[2015-03-29 21:26] #23 closed

[2015-03-29 21:27] vdaubry commented on #40
Hi, i added an update button in the profil page, can you try to refresh ?

[2015-03-29 21:29] vdaubry commented on #32
Hello, i added a refresh button, can you try to go on your profil and run an update ?

[2015-03-29 21:30] GuillaumeGomez commented on #40
Thanks, it's working now ! Only one problem remains: it doesn't find my city (which is filled as Paris on github). Otherwise, everything's fine !

[2015-03-29 21:31] vdaubry commented on #40
Google geocoding may take a few second to run (more if your refresh is in queue behind others)

When i go to your profile you're listed in Paris, i think it's ok.

[2015-03-29 21:32] #40 closed

[2015-03-29 21:33] vdaubry commented on #41
Hi, i added a refresh button on the profile page. You can update your profile and check that stats are ok ?

[2015-03-29 21:34] GuillaumeGomez commented on #40
Perfect then ! Thanks again for fixing it.

[2015-03-29 21:35] vdaubry commented on #43
Hi everyone, you can now go to your profile page and run a refresh. Tell me if it works for you after that.

[2015-03-29 21:36] vdaubry commented on #44
Hi, you can go to your profile and run a manual refresh, it should fix this.

[2015-03-30 00:10] riophae commented on #36
WOW! It works perfectly for me. `China`, `Mainland China`, `Peking`, `Beijing` are all handled properly.
Sorry to say that I've looked around for `People's Republic of China` for a long time but nobody found... Can't validate that for you.

BTW, hope you are not bothered by the ugly avatars of those guys... Very smart people tend to be weird and tasteless, right? ;)

[2015-03-30 00:10] #36 closed

[2015-03-30 00:22] tobegit3hub commented on #36
Nice work @vdaubry :+1:

[2015-03-30 01:51] RobertWHurst commented on #41
Looks good! Nice work @vdaubry :beers:

[2015-03-30 02:29] metrue commented on #44
@vdaubry

right, issue closed.

[2015-03-30 02:29] #44 closed

[2015-03-30 04:23] mitulgolakiya commented on #32
Yes, it seems working now.

Thanks @vdaubry.

[2015-03-30 06:03] #41 closed

[2015-03-30 06:03] #32 closed

[2015-03-30 07:17] bugalot commented on #43
Hello Vincent! Still no joy for me after a refresh.
Cheers

[2015-03-30 07:55] dciccale commented on #43
Is working for me, and now I can see a button to update and it works also, thanks!

[2015-04-02 08:31] RaVbaker commented on #30
:+1:

[2015-04-02 21:16] Inferis opened #48 "Number of stars is incorrect"
The reporting on the number of star is incorrect. According to Github Awards I have 3577 stars for Objective-C:

![](http://c.inferis.org/image/1a1J0T1J3a1T/Image%202015-04-02%20at%2011.13.22%20pm.png)

But my most popular repo, ViewDeck, alone has 4200+ stars:

![](http://c.inferis.org/image/0p1U311l2U3s/Image%202015-04-02%20at%2011.14.34%20pm.png)

So that can't be right (and I did not gain 700+

[2015-04-03 01:29] vdaubry commented on #48
To get an accurate number of stars did you try to manually update your account ? (you should see a 'Refresh your profile' button under your picture)

Number of star may not be up to date at the moment : data comes from [Github Archive](https://www.githubarchive.org/), they recently changed their format so it broke the import. I'm working on it.

[2015-04-03 01:31] vdaubry commented on #43
@bugalot i guess it was just a delay in the background process, i can see your profile now : http://www.github-awards.com/users/search?login=bugalot

Seems to work then, i'm closing this issue.

[2015-04-03 01:31] #43 closed

[2015-04-03 03:14] Cee opened #49 "Still can not find my profile"
When I press the refresh button and redirect to the github-awards page, I meet an error saying that `We're sorry, but something went wrong.` . Would you please check the log file and fix this problem?

[2015-04-03 04:36] vdaubry commented on #49
Thanks for reporting this bug. It seems there was a race condition when updating your profile. I fixed it, can you try again ?

[2015-04-03 04:45] Cee commented on #49
There is a warning: Warning! Your accound could not be updated, please try again.

[2015-04-03 05:31] vdaubry commented on #49
That's weird, i'm seeing 2 simultaneous requests comming from your ip, that's causing the race condition.

I changed the code to try to force an update in that case. Can you try again ?

[2015-04-03 06:02] Inferis commented on #48
Yes, tried that. No effect.

Well, it's no biggie, but I thought I'd report it.

[2015-04-03 06:04] Cee commented on #49
OK. It's fine now. Thanks a lot!

[2015-04-03 06:04] #49 closed

[2015-04-07 10:08] vdaubry commented on #48
There was a pagination issue when updating a user with lots of repos.
To solve this issue I need to implement pagination of Github API responses.

In the meantime i added a quick fix to get the 100 first repos of each user (which covers 99.99% of github users) , it should solve your problem.

Can you try again ?

[2015-04-07 10:16] vdaubry commented on #30
A quick update on that topic : I'm very interested in having this feature, and i'm looking for someone to help me build it.

Getting contributions to other repository for all users is a lot of data. I think a good start would be to extract data from Github Archive with Google Big Query, then download and process the json with a rake task (similar to what i did for the first batch import to kick st

[2015-04-07 10:25] vdaubry commented on #3
@goetas : Just to be sure we're talking about the same thing i'll take an example :

I see your are listed as contributor of the [html5-php](https://github.com/Masterminds/html5-php/graphs/contributors) repo.
The stats indicate that your are a major contributor (almost 50 commits with 12k+ LOC)

But on the same contributor list your have [cognifloyd](https://github.com/cognifloyd) whith only 1 com

[2015-04-07 10:29] vdaubry commented on #2
I was thinking of adding a suffix to city :

"Birmingham (UK)"
"Birmingham (US)"

Both would come out in the search results and each one would have its own ranking. What do you think ?

[2015-04-07 10:41] astrofrog commented on #30
The GitHub API allows you to access the contributor list with stats directly btw:

https://developer.github.com/v3/repos/statistics/#contributors

So one would not need to actually look at the full git commit history.

[2015-04-07 11:22] Inferis commented on #48
That works! Thanks!

[2015-04-07 11:22] #48 closed

[2015-04-07 11:47] vdaubry commented on #30
Yep, but calling this for 18 Million repo, with a 5000 req/hour rate limit is not the way to go.

Even if we only consider active repo i won't work... Github Archive + Google big query to filter data, is the best way i can think of to get exhaustive data

[2015-04-07 14:58] genehack commented on #2
There are at least two places called "Birmingham" in the US, (one in Alabama, one in Michigan).

Why not use the state info? Is it not available, or something?

[2015-04-08 07:08] goetas commented on #3
@vdaubry Now i see, you are right.

The solution proposed by you on #30 looks better (`https://developer.github.com/v3/repos/#list-contributors`), but instead of calling the API  on each repo, why do not call this only if the user request a refresh?
Doing this you can skip a lot of low-ranked users... I think that more than 60% of github users have a very low public activity, and if they are not i

[2015-04-22 08:07] kuanyui commented on #2
Can this project deal with the condition that location string is `City, Country` (Regexp `[^,],[^,]`)?

[2015-04-23 23:35] wesleytodd opened #53 "Seems that the ranking charts dont update?"
I am unfortunately not a rubyist, or this would come in the form of a PR instead of an issue.  But it seems that despite the new ability to update your user data, the rankings for a region do not update.  Seems to me like that would be an good addition, maybe just reshuffle that data when a user that exists in it updates their profile?

[2015-04-24 09:00] vdaubry commented on #2
Reverse geocoding is done by Google Maps API : https://developers.google.com/maps/documentation/geocoding/#ReverseGeocoding

Most of the times it's pretty accurate but of course it's not perfect.

Keep in mind that the location string on Github is a simple text field and there are over 1.5 millions people that filled their location on Github

The result if that each developer filled their location

[2015-04-24 09:05] vdaubry commented on #53
There is definetly a problem here, it might come from Redis sorted sets not updating properly while repository info in postgres are correct. I'm looking into this.

Thanks for notifying this issue.

[2015-04-24 14:31] wesleytodd commented on #53
No problem!!  Sorry I can't help more.

[2015-05-01 14:00] lhorie opened #54 "Is it possible to specify the primary language of a project?"
I'm getting a lot of stars for HTML, presumably because of the large amount of HTML documentation files in my most active repo, even though it's a javascript project. ([link](https://github.com/lhorie/mithril.js))

[2015-05-01 15:46] vdaubry commented on #53
Ok i fixed the problem and started a bulk update for rankings. I'll close this issue it when the update is finished.

[2015-05-01 15:54] vdaubry commented on #54
Unfortunately no, this is discussed in the Github FAQ : https://help.github.com/articles/my-repository-is-marked-as-the-wrong-language/

Have a look at this issue for more details : https://github.com/vdaubry/github-awards/issues/6

Hope that helps, I'm closing this issue since it's a Github related problem.

[2015-05-01 15:54] #54 closed

[2015-05-01 16:19] wesleytodd commented on #53
Awesome!!  Thanks for the fun site, hopefully you are getting some :dollar: for your hard work!!

[2015-05-01 23:19] vdaubry commented on #53
Loggly has been awesome and is sponsoring the project, it's not much cash but it pays for hosting :)

Rankings are up to date, i'm closing this issue.

[2015-05-01 23:19] #53 closed

[2015-05-14 06:20] igorspasic opened #55 "Unable to refresh project"
How can I refresh organization page in github-awards: [oblac](http://github-awards.com/users/search?login=oblac)? Only my profile gets refreshed, but not organization?

With great fun comes great responsibility :) Please make it work, some serious bet is in place ;)))

[2015-05-18 10:08] vdaubry commented on #55
The refresh occurs when your organiezation appears in Github Archive daily feed, if you make a commit, pull request, or comment it should be enough.

Let me know if it works ?

[2015-05-19 18:17] igorspasic commented on #55
Ok. I've added a comment and bug was closed. I have also added a commit to the repo. Last change to the repo is 9 hours ago from this moment.

However, the geo-location information of the organization is not changed (it was missing before, and I would like to set it).

[2015-05-24 10:18] igorspasic commented on #55
Apparently, stars count is re-freshed, but not the geo-location.

[2015-05-25 08:13] mcustiel commented on #4
Hi. I see this is supposed to be fixed but I'm still seeing my location as Buenos Aires, Argentina when my contributions were made from Montevideo, Uruguay. Thanks.

[2015-05-26 13:43] vdaubry commented on #55
I updated your organisation location, it should be ok now.

[2015-05-26 13:43] #55 closed

[2015-05-26 13:45] vdaubry commented on #4
@mcustiel Can you try to update your profile again ? (button "refresh your profile" under your avatar)

[2015-05-26 15:22] mcustiel commented on #4
@vdaubry Done.

[2015-05-26 15:38] vdaubry commented on #4
Ok i fixed your location

[2015-05-26 15:50] mcustiel commented on #4
Great! Thank you.

[2015-05-26 20:57] igorspasic commented on #55
Thanx, sorry for the all trouble.

[2015-06-22 03:58] natebrunette commented on #3
+1

I also publish everything serious to an organization.

[2015-06-22 07:59] vdaubry commented on #3
I added the organizations into the ranking.

@natebrunette , here is the page for the 'tebru' org : http://github-awards.com/users/search?login=tebru

I'm colsing this issue, feel free to re-open it if something is wrong.

[2015-06-22 07:59] #3 closed

[2015-06-22 15:28] natebrunette commented on #3
Sweet!  Thanks for doing that.

Will it refresh automatically?  I don't get the button because you can't login as organizations, I'm guessing.

[2015-06-22 15:35] goetas commented on #3
You added organizations, members of an organization will not benefit for their commits. Is it true?

[2015-06-22 15:38] vdaubry commented on #3
That's right. See the previous comment about that subject : https://github.com/vdaubry/github-awards/issues/3#issuecomment-90499247

[2015-06-22 15:39] vdaubry commented on #3
@natebrunette : yes organizations will refresh everytime they appear in the Github Archive (based on events such as commits, PR, etc)

[2015-06-28 00:44] juliangruber commented on #15
can you please update mine as well?

[2015-06-28 06:34] vdaubry commented on #15
You have an update button under your avatar picture now, it should take no more than a few minutes

[2015-06-28 11:10] juliangruber commented on #15
thanks, worked perfectly :)

[2015-07-16 14:13] changyuheng opened #59 "Unable to refresh geo-location of organization"
Our organization [8tory](http://github-awards.com/users/8tory) did not have a geo-location label on GitHub Awards. I didn't find an option to add or modify it. Could someone please help me?

[2015-07-17 03:53] yongjhih commented on #59
:+1:

[2015-07-19 09:02] caarmen opened #60 "Separate ranking for organizations versus users"
Would like to see separate rankings for organizations versus users.

Organizations often have multiple users contributing to their repositories.  At the risk of sounding like a whiner, it's not "fair" to compare organizations with a large number of contributors, to independent developers.

[2015-07-19 09:11] caarmen commented on #60
![815833](https://cloud.githubusercontent.com/assets/1731388/8765319/cd05a33c-2e06-11e5-8867-ab4cac3dc123.jpg)

[2015-07-23 09:48] vdaubry commented on #59
I updated your location

[2015-07-23 09:48] #59 closed

[2015-07-23 11:56] vdaubry commented on #60
Thanks for this suggestion. I don't have a clear roadmap for this at the moment. I'll re-open this issue when i start working on this.

PR are welcome ;)

[2015-07-23 11:56] #60 closed

[2015-07-23 16:35] aviaryan opened #61 "[Feature request] Give overall ranking"
A ranking considering all repositories of a user.

P S - The language list gives the impression that you may have thought about implementing it. I see a blank field at the end of language list. (example [city page](http://github-awards.com/users?type=city))

[2015-07-23 16:43] vdaubry commented on #61
Well, it's a bug not a feature :)

I'll have a look at this, it would require to reindex all scores, but it should not take too long to do.

[2015-07-24 04:49] aviaryan commented on #61
Great. Thanks :yum:

[2015-07-27 04:58] Newbilius commented on #7
Can you update my location too?) I change it many month ago, but still have "We couldn't find your city from your location on GitHub :( ".

[2015-07-27 08:05] vdaubry commented on #7
@Newbilius Did you try to update your profile with the refresh button under your avatar ?

[2015-07-27 08:28] Newbilius commented on #7
Sorry, i don't notice is first time :-( Now all just fine!

[2015-07-27 10:25] davideme opened #62 "Organisation Location, not imported."
I get the message "We couldn't find your city from your location on GitHub" for my organisation.
http://github-awards.com/users/karumi

But it's set as "Madrid, Spain" on https://github.com/karumi, is this correct and it's not parsed or it's expecting another format of location ?

Or it's simply cached and not invalidated, It's was updated more than a week ago.

[2015-07-28 09:07] Cyan4973 opened #63 "ghost ranking"
When checking "Top C GitHub developers in France",
there is no 3rd place.
It goes straight from 2nd to 4th.

As if there was some ghost data still counting in the ranking but not displayable (partially deleted, but not completely).

[2015-08-01 08:46] seiflotfy opened #64 "Stars missing since 2 days"
Great great great job on the github-awards. We have some bets here going on (or a competition) and sadly github-awards hasn't updated my profile and a teammates profile for 2 days or so. I know the missing stars is a github-archives issue, but is there a way you can help us out fixing it?
Cheers

[2015-08-02 11:53] sohelamin opened #65 "Organization location not showing"
Hi

My organization @appzcoder account's location not showing properly even not updating the info.

[2015-08-07 10:28] Sottti commented on #53
Looks like this is happening again.

[2015-08-08 08:52] LyndonChin opened #66 "Data not updated"
Thank you for your awesome project., but the data has not been updated for days.

[2015-08-08 09:49] vdaubry commented on #62
Background jobs were crashed and unable to restart, it's fixed now.

Your location is up to date now.

[2015-08-08 09:49] #62 closed

[2015-08-08 09:50] vdaubry commented on #64
Thanks !

Background jobs were crashed and unable to restart, it's fixed now.

All profile will update automatically next time they appear in Github events timeline.
You can run a refresh on your profile if you don't want to wait.

[2015-08-08 09:50] #64 closed

[2015-08-08 09:52] vdaubry commented on #65
Background jobs were crashed and unable to restart, it's fixed now.

Your organization profile is up-to-date now

[2015-08-08 09:52] #65 closed

[2015-08-08 09:52] vdaubry commented on #66
Thanks, glad you like this project :)

Background jobs were crashed and unable to restart, it's fixed now.

All profile will update automatically next time they appear in Github events timeline.
You can run a refresh on your profile if you don't want to wait.

[2015-08-08 09:54] vdaubry commented on #63
There have been a problem with background job processes unable to start. This bug may be related to this.

I'm looking into this issue.

[2015-08-08 09:55] vdaubry commented on #53
Background jobs were crashed and unable to restart, it's fixed now.

All profile will update automatically next time they appear in Github events timeline.
You can run a refresh on your profile if you don't want to wait.

[2015-08-08 10:04] sohelamin commented on #65
Thanks @vdaubry

[2015-08-08 22:21] vdaubry commented on #63
There was a edge case when someone was deleting a repo or switching a repo from public to private.
The problem is fixed, i'm closing this issue. You can re-open it if you notice other ghost ranking

[2015-08-08 22:21] #63 closed

[2015-09-04 09:38] danielfernandez commented on #30
+1, I also think rankings won't really be correct unless repositories to other organizations (which are 99,99% for some of us) are also taken into account.

[2015-09-30 23:52] marceloboeira opened #68 "[Feature request] Link to user repositories on the specific language"
It would be nice to have a link to github with a list of the users repositories on that specific listed language. Places like the ranking of the language, or the user profile.

### Example

![example](https://cloud.githubusercontent.com/assets/1898225/10209685/7e53189a-67b4-11e5-8341-f3d7ae16d242.png)

### Suggestion
Github provide a simple way to generate this link, just using their "search query

[2015-10-01 05:32] vdaubry commented on #68
I like this idea, using github search is clever.
Thanks a lot for offering to open a PR.

[2015-10-01 11:19] marceloboeira commented on #68
@vdaubry thanks, I'll work on the pr asap :dancers:

[2015-10-05 18:09] jwise opened #69 "Removed users appear to be back"
It looks like I am back, against my requests.  In #9 I was removed from the ranking, but today I got a recruiter sending me mail, because they found me on GitHub Awards.

May I be removed again?

(Adding as well @tdfischer, @skimbrel, @asmallteapot, and @n1k0, who asked for the same in #9.)

[2015-10-05 19:20] skimbrel commented on #69
+1. Not only that, but my name and face appear right above an ad claiming "Affiliated with" in a way that makes it unclear whether the site or I am affiliated.

[2015-10-05 19:28] n1k0 commented on #69
Thanks for the heads up @jwise. Please remove my profile from this website.

[2015-10-05 20:15] jwise commented on #69
Oh yeah, that's *really* bad.  I am absolutely not affiliated with loggly.  Yes, this needs to go.  Thanks.

[2015-10-05 20:26] vdaubry commented on #69
I had manually removed your profiles but they got imported again when i added the daily import from Github-Archive.

This is definitely a bug, i'm going to remove your profiles from the ranking and add a blacklist so that this doesn't happen again.

I'll let you know as soon as it's done. I apologize for the inconvenience.

[2015-10-06 09:15] mjacobus opened #70 ""We couldn't find your city from your location on GitHub :( ""
Username: mjacobus

It is set as "Hamburg, Germany" but it is not recognized.

[2015-10-06 09:20] vdaubry commented on #70
Did you try to refresh your profile ? (the refresh button is under your avatar)

[2015-10-06 09:30] mjacobus commented on #70
That worked! Tks!

Btw, nice job!

[2015-10-06 09:30] #70 closed

[2015-10-06 14:08] vdaubry commented on #69
Hi everyone,

I removed the following profiles from Github Awards :
@jwise
@tdfischer
@skimbrel
@asmallteapot
@n1k0

I also added a blacklist of profile that should be ignored from GithubArchive events.
All the previous profile are added to the blacklist :

This should prevent your profiles from re-appearing on Github Awards.

I'm closing this issue, feel free to re-open it if you have any more qu

[2015-10-06 14:08] #69 closed

[2015-10-07 07:59] Mte90 opened #72 "Support for repo in organization"
As example i am in 5 organization on github with other projects but they are not listed

[2015-10-07 08:08] vdaubry commented on #72
Duplicate of #30

I renamed the issue so that it's more clear.
I'm closing this issue, if you have some more comment you can continue the conversation on the other issue

[2015-10-07 08:08] #72 closed

[2015-10-22 02:51] leekchan opened #73 ""We couldn't find your city from your location on GitHub :(""
Hi.

I've tried refresh my profile several times (by clicking the refresh button below my avatar), but my location information is not updated.

Could you check my profile?

username : leekchan

Thanks.

[2015-10-22 05:10] vdaubry commented on #73
Did you try to refresh your profile ? It's the green button under your avatar.

[2015-10-22 05:15] leekchan commented on #73
Yes. I clicked the green button.

![image](https://cloud.githubusercontent.com/assets/823358/10657473/f093b25c-78c6-11e5-85fb-10be7d78c5d3.png)

The page said "your data is updating", but nothing happened.

![image](https://cloud.githubusercontent.com/assets/823358/10657480/128c2e16-78c7-11e5-9f18-db297e2abf19.png)

[2015-10-22 05:17] vdaubry commented on #73
ok thx, i'm looking into this

[2015-10-22 13:48] ashleymills commented on #66
I'm guessing this has happened again - doesn't seem to have been updated for a day or 2

Cheers
Ash

[2015-10-23 15:19] vdaubry opened #74 "Github Awards API"
Add a public API to access Github Awards data :

* User detail
* World ranking
* Country ranking
* City ranking

[2015-10-23 15:27] vdaubry commented on #66
@ashleymills Yes the backgound worker was down. Can you check again ?

[2015-10-23 15:27] vdaubry commented on #73
@leekchan : the backgound worker was down. Can you check again ?

[2015-10-23 15:28] ashleymills commented on #66
Working like a charm! Thanks for your work on this, much appreciated.

Cheers
Ash

[2015-10-23 15:33] #66 closed

[2015-10-23 19:21] askl56 commented on #74
Are you building it or do you want me to do it?

[2015-10-25 04:50] vdaubry commented on #74
Pull request are most welcome ! Thanks for offering your help.

[2015-10-26 02:06] leekchan commented on #73
Thanks :)

[2015-10-26 02:06] #73 closed

[2015-10-27 11:02] FredericHeem opened #76 "username with dash ?"
I was trying to find the ranking of one of my friend who has a dash in its github username (claudio-viola) but his ranking is not found. Could the dash be the problem ?
Merci beaucoup.

[2015-10-27 11:07] vdaubry commented on #76
Do you have his username on github ?

For example this user has no activity (didn't create any repo and/or never commited anything) :
https://github.com/claudioviola

He can connect on Github Awards and force a refresh for his profile : when a search doesn't return any result you have a link to connect to your github account to import your data.

[2015-10-29 08:31] troch opened #77 "Organisation location"
Hi,

I have changed recently my organisation location but it didn't update on github-awards. Organisation's name is router5 (https://github.com/router5).

Thanks

[2015-10-29 12:01] vdaubry commented on #77
No problem, I updated your organisation.

[2015-10-29 12:01] #77 closed

[2015-10-29 13:57] troch commented on #77
:+1:

[2015-11-12 10:08] ashleymills commented on #66
Seems like the background worker is down again

Ash

[2015-11-12 10:14] vdaubry commented on #66
You're right, i restarted Sidekiq.

The sidekiq process is managed by Monit, but sidekiq was still stop and not restarted.
That's weird, i'm looking to understand what happened.

[2015-11-12 16:40] tatica opened #78 "Only code?"
Hey! I just check the app and it's quite fun, however, all my contributions are translations and sadly I can't have the same fun as my friends. Would it be able to also count the amount of translated strings?

Thx!

[2015-11-12 17:11] vdaubry commented on #78
Hi !
GitHub Awards counts the number of stars from your repo. You could create a repository with some of your work, if people star it you will climb up in the ranking.

I'm closing this issue, good luck with your projects.

[2015-11-12 17:11] #78 closed

[2015-11-12 20:26] mikicaivosevic opened #79 "XSS Vulnerability"
[github-awards](http://github-awards.com) is vulnerable on XSS.

PoC: http://github-awards.com/users?utf8=✓&type=country&language=JavaScript&country=[vuln]

GET param "country" is vulnerable on XSS. I have fixed that before few months, but you need to do pull on your server.

[2015-11-13 06:08] vdaubry commented on #79
First of all, thanks a lot for raising this issue !
It's fixed by #80

A few interesting notes :

* Your pull request #56 was merged, the problem was that since the user input for country is interpolated in a string we had to espace it inside the string :

https://github.com/vdaubry/github-awards/pull/80/files#diff-e065be9112de8c01377ece2d65c3cb71L24

* On Chrome and Safari if you actually try to

[2015-11-13 06:10] #76 closed

[2015-11-13 18:12] whackashoe opened #81 "Only a few people are showing up on site"
I'm now the only person in my city whereas there used to be 20 or so. For worldwide there is small fraction of prior amount of people.

[2015-11-13 23:25] antinucleon commented on #81
Yes, a lot of record are missing.

[2015-11-14 13:51] vdaubry commented on #81
The ranking was re-building, it should be done now. Can you check if it's ok for you ?

[2015-11-14 15:06] whackashoe commented on #81
There are less than half of prior users for javascript at least which I remember used to be ~595k, now when checked world total is ~231k.

[2015-11-14 20:21] ashleymills commented on #66
Looks like it's down again

Ash

[2015-11-15 03:10] vdaubry commented on #81
@whackashoe : users with less than 1 start were still computing, it's ok now.

[2015-11-15 03:11] #79 closed

[2015-11-15 03:12] vdaubry commented on #66
@ashleymills : It's up, what makes you say that ?

[2015-11-15 11:29] marceloboeira commented on #81
@whackashoe @vdaubry I guess is messed up again....

<img width="1197" alt="screenshot 2015-11-15 09 28 47" src="https://cloud.githubusercontent.com/assets/1898225/11168568/59f9094c-8b7b-11e5-82ad-374df7286c4f.png">

[2015-11-15 11:57] vdaubry commented on #81
yep, there's definitely an issue with Redis... I'm looking into it asap
Thanks for raising this

[2015-11-15 18:29] vdaubry commented on #81
I restarted the redis server using the previous snapshot, rankings are back. I'm monitoring the situation
Let me know if you notice something's wrong.

[2015-11-15 19:10] marceloboeira commented on #81
@vdaubry alright :+1:

[2015-11-15 19:11] ashleymills commented on #66
I should have 1240 Swift, it's been showing only 1233 for a couple of days.

[2015-11-15 19:41] vdaubry commented on #66
Did you force a refresh on your profile ?

On Sunday, 15 November 2015, Ashley Mills <notifications@github.com> wrote:

--
Vincent Daubry
tel: 06 51 50 21 73
Twitter: @vdaubry

[2015-11-15 19:58] #81 closed

[2015-11-15 20:06] ashleymills commented on #66
Yes, tried that a couple of times.

[2015-11-16 04:34] vdaubry commented on #66
@ashleymills : Github API token was rate limited. Your account is now updated.

[2015-11-20 14:13] Tibolte opened #84 "Location not updating"
I recently changed my location from Reykjavík to Paris. However I still see myself ranked in Reykjavík and Iceland. Is it gonna refresh soon or is it not supported?

[2015-11-21 10:20] vdaubry commented on #84
GitHub Awards updates hourly based on data from [GitHub Archive](https://www.githubarchive.org/)

You can force a refresh for your profile with the refresh button under your avatar.

I'm closing this issue, let me know if you have troubles updating your profile.

[2015-11-21 10:20] #84 closed

[2015-11-21 11:02] Tibolte commented on #84
works :+1: I didn't know about that refresh profile thing. Keep up the good work :)

[2015-11-25 04:59] zhuangtongfa opened #86 "why it show : We couldn't find your city from your location on GitHub :("
http://github-awards.com/users/search?login=zhuangtongfa
my github:
https://github.com/zhuangtongfa

[2015-11-25 05:49] vdaubry commented on #86
did you try to refresh your profile ? (green button under your avatar)

[2015-11-25 06:28] zhuangtongfa commented on #86
yes,but it still show couldn't findcity from location on GitHub

[2015-11-25 07:01] vdaubry commented on #86
I updated your profile.

[2015-11-25 07:01] #86 closed

[2015-11-29 17:09] vdaubry commented on #68
It's done, thanks to @nunogoncalves !

[2015-11-29 17:09] #68 closed

[2015-11-29 18:23] marceloboeira commented on #68
@vdaubry / @nunogoncalves awesome! 😎

[2015-12-02 09:54] TheFinestArtist opened #88 "Ranking System"
Fork count is usually proportional to star count, but some repo shows higher proportion between fork count and star count than others.

To compare with Facebook post, starring a repo is similar with liking a post and forking a repo is similar with saving a post for later use. Therefore, I think fork count is more valuable number to judge how popular each repo is than star count.

[2015-12-05 20:58] vlad-saling opened #89 "Missing ranks"
Some of the language+location combinations in rank search return weird results. Examples:

http://github-awards.com/users?utf8=%E2%9C%93&type=city&language=ActionScript&city=Slovakia
On the date this issue was created it threw ranks null, 1, 2, null.

http://github-awards.com/users?utf8=%E2%9C%93&type=city&language=PHP&city=Slovakia
On the date this issue was created it threw ranks null, 1, ....

[2015-12-06 20:58] vdaubry commented on #88
Thanks for your input but we don't have any plan to take forks into account at the moment.
I'm closing this issue.

[2015-12-06 20:58] #88 closed

[2015-12-06 20:59] vdaubry commented on #89
@vlad-saling : Thanks for reporting.
I'm looking into this and let you know when i have more info.

[2015-12-08 19:11] techfort commented on #89
@vdaubry don't know if this is the same issue, but if you go here http://github-awards.com/users?city=cork&language=JavaScript&type=city i am apparently the only js developer in Cork, Ireland (believe me, I'm not :D ) , there used to be loads up until yesterday.

[2015-12-08 19:41] jcalisson opened #94 "Why did some people left the ranks?"
I was looking the ranks and I realized that some was taken from the ranks. Why?

[2015-12-09 19:27] reginaldojunior opened #95 "Error in website"
![erroawards](https://cloud.githubusercontent.com/assets/7466894/11696128/eaf6aeaa-9e99-11e5-9613-dbc4874fda58.png)

:disappointed:

[2015-12-09 20:52] vdaubry opened #96 "[Help needed] Hosting for Github Awards"
### TLDR;
**We need to find a sponsor to buy a server with at least 8GB of RAM**
It's a matter of time before we totally run out of memory to hold rankings, and i'll be forced to shutdown the service :finnadie:

We need either :

* A hosting provider willing to host the project
* Any sponsor willing to donate enough to get a EC2 m3.large instance : $713 for 1 year

In return the sponsor would be a

[2015-12-09 21:14] vdaubry commented on #89
It's fixed (for now), see #96

[2015-12-09 21:14] #89 closed

[2015-12-09 21:14] vdaubry commented on #94
It's fixed (for now), see #96

[2015-12-09 21:14] #94 closed

[2015-12-09 21:14] vdaubry commented on #95
It's fixed (for now), see #96

[2015-12-09 21:14] #95 closed

[2015-12-10 10:56] jcalisson commented on #94
Awesome. :D

[2015-12-10 12:53] techfort opened #97 "[Feature Request] exclude organizations from ranks"
Hi - great job on github-awards, i hope you resolve the hosting issue.

I find it strange to have organizations in the same rank as single users. I wouldn't include organizations in the ranks at all, especially if you implement the feature that ranks a user's contributions to repos not owned by the user.
Putting an organization with multiple users in the same rank as a single user seems incoherent

[2015-12-10 13:41] vlad-saling commented on #89
Cool! Thnx. Sharing your https://github.com/vdaubry/github-awards/issues/96 !

[2015-12-26 17:54] nunogoncalves commented on #74
Hi @vdaubry are you still thinking about adding this, or are you wanting for the project to have support first?

Best of luck though. I keep my fingers crossed. :)

[2015-12-27 10:46] vdaubry commented on #74
Hi @nunogoncalves ! Yes we should merge the PR, the last thing to do is lowercase the redis keys.
I hope to finish this before new year so we can release the API for 2016 ;)

Regarding the need for a sponsor : the project received great support for the community, that's awesome !! i think i'll have some great news about that soon.

[2015-12-27 18:09] vdaubry commented on #74
@nunogoncalves Good news : Redis keys are now all lowercase.
I'll be able to merge the API PR soon now !

[2015-12-27 18:09] nunogoncalves commented on #74
Great! :)

No dia domingo, 27 de dezembro de 2015, vincent daubry <
notifications@github.com> escreveu:

--
Cumprimentos,
Nuno Gonçalves

[2015-12-27 18:48] LukyVj opened #98 "Category duplication"
As you can see in this screenshot, the CSS ranking section is duplicated, and it says I have 1 Repo, but I have like 80 repos.

![](http://puu.sh/maon7/d3c6228fa3.png)

[2015-12-27 19:18] vdaubry commented on #98
Thanks for reporting this issue, i'm looking into this.

[2015-12-27 19:52] vdaubry commented on #98
@LukyVj : There was a bug in the job that pulls data from Github Archive (languages were case-sensitive)
The bug is fixed and i'm running a script to update remaining data in database.

Everything is back to normal for the top 20 languages and should be good by tomorrow for all languages.

I'm closing this issue: i'll re-open it if this problem happens again.

[2015-12-27 19:52] #98 closed

[2015-12-27 20:05] LukyVj commented on #98
Thanks ! You rock <3

[2016-01-02 09:50] nunogoncalves commented on #74
I can see a problem with the documention. The api requests are failing.
The requests are being made to

The base url is being duplicated. I'll have a look into it as soon as I can.

[2016-01-02 11:37] vdaubry commented on #74
Ok i found where the problem was coming from, it's fixed now.

Actually it was an interesting issue :

The HOST environment variable was set in ``` ~/.bashrc ```
This file was not read when Capistrano was executing ``` rake swagger:docs ```
To make it work with Capistrano i had to set it in ``` /etc/environment ```

http://capistranorb.com/documentation/faq/why-does-something-work-in-my-ssh-sessio

[2016-01-05 02:30] awesomes-cn opened #102 "[suggest]have some public APIs?"
Hi,I want to know whether you provide APIs. I have a web app which focus on web development,and I want to get the rank data which language is javascript and location is each user's country and worldwide.So I want to get the data simply from your API and we will leave the link to your site just use something like 'see more ranks'.So do you have some  APIs,or I can get the data from other ways?Thank

[2016-01-07 10:37] vdaubry commented on #102
There is a beta version of the Github Awards API
Here is the documentation :

http://github-awards.com/docs

We're looking for feedback so please open an issue if you have any questions or if you find some bugs !

:warning: The API is still in beta and methods signature can change anytime :warning:

[2016-01-07 10:37] #102 closed

[2016-01-07 10:39] vdaubry commented on #74
The Github Awards API is available in beta ! Here is the documentation :

http://github-awards.com/docs

We're looking for feedback so please open an issue if you have any questions or if you find some bugs !

:warning: The API is still in beta and methods signature can change anytime :warning:

I'll close this issue when we officially release the API

[2016-01-08 09:45] nunogoncalves commented on #74
Hey @vdaubry,

If I search for a city but use a country's name, I'm getting the same list as searching for that country.
Is that behaviour expected?
http://github-awards.com/api/v0/users/?language=javascript&city=Portugal&type=city&page=1

[2016-01-13 07:39] awesomes-cn opened #103 "About the formula"
You say your formula  is:

    sum(stars) + (1.0 - 1.0/count(repositories))

Why just `sum(stars)` and not   `sum(stars+forks+watchs)`? The `forks` and `watchs` also can be considered to get the socre.

[2016-01-13 10:14] vdaubry commented on #103
It's for tiebreak.

Thanks for your suggestions.

On Wednesday, 13 January 2016, awesomes-cn <notifications@github.com> wrote:

[2016-01-13 10:18] #103 closed

[2016-01-13 10:19] vdaubry commented on #97
Thanks, i agree with you that having 2 different rankings would be a nice feature.
PR are welcome.

I'm closing this issue.

[2016-01-13 10:19] #97 closed

[2016-01-18 01:20] peter-edge opened #106 "Double counting old repos"
I did a massive rename of my old repos recently, ie renaming from go-flights to flights-go, etc. My star count basically doubled, I was wondering what was going on but this seems like the logical answer. How is caching done?

[2016-01-18 20:09] vdaubry commented on #106
Data are updated by reading [GitHub Archive](https://www.githubarchive.org/) hourly update.
I'm not sure how a name change event is reported.

There is no caching, data are calculated in real time using Redis Sorted Set, I advise you to manually refresh your profile to get latest data from the API.

Let me know if it fixes your problem.

[2016-01-18 20:21] peter-edge commented on #106
I refreshed a number of times in the last week or so, it stays the same. I
know I do not have 154 stars for go, for example.

On Mon, Jan 18, 2016 at 9:09 PM, vincent daubry <notifications@github.com>
wrote:

[2016-01-21 13:26] evermeer opened #107 "Incorrect data"
When selecting Netherlands and Swift, then also someone from the US will show in the list.
See the number 2 in this screenshot:
<img width="1181" alt="screen shot 2016-01-21 at 2 22 14 pm" src="https://cloud.githubusercontent.com/assets/130834/12481656/e78cd942-c04a-11e5-8c52-4c65965e6b73.png">

[2016-01-21 22:18] peter-edge commented on #106
Any updates? Heh sorry :) Just wanted to make sure this was an issue.

[2016-01-26 16:07] nunogoncalves opened #108 "Languages with number of users"
I was just checking that we can see how many users there are for a given language.
When we invoke *users?language="Javascript"* we see that there are over 600 000 users.

Do you think it would be easy to have this directly when we call for the languages endpoint?

Javascript - 650 000
Java - 400 000
Ruby - 200 000
and so on.

[2016-01-26 16:47] vdaubry commented on #108
Yes i like this idea. It should be easy :

For each language you should be able to call :

``` UserRank#world_user_count ```

[2016-01-26 16:51] nunogoncalves commented on #108
Do you think doing that would noticeably affect the performance?

[2016-01-26 16:57] vdaubry commented on #108
No i don't think it'll be noticeable :

Counting the number of user in a region is done through Redis [zcard]( http://redis.io/commands/zcard) which is O(1)

Redis is hosted on the same server as the application, so even calling this 200 times should be really fast.

But i'm only only guessing at this stage...
If we notice some performance issue (> 5ms ?) we can just cache the result for an hour.

[2016-02-02 16:53] hoodie opened #110 "no c++ Developers, anywhere"
hey, just noticed that, when you click on your city in the `c++` ranking, the topic sais: **"Top C GitHub developers in YOURCITY"** and the drop down menu shows `javascript`. Apparently the ++ in the language query are not decoded correctly.

[2016-02-02 17:17] nunogoncalves commented on #110
I'm thinking this has to do with a PR I did... I'll look into it later today.

[2016-02-04 16:23] ranisalt commented on #110
Why not call c++ cpp instead?

[2016-02-19 07:22] mobluse commented on #2
How do you know the location that is used for reverse geocoding? I have filled in location "Lund, Sweden", but it still says "We couldn't find your city from your location on GitHub :(". I checked other people that also filled in location the same way, but for them it works. (In Swedish "Lund" means small forest, and it is a university town.)

[2016-02-23 07:18] okaufmann opened #112 "Badges"
Hi,

I really like the Idea of github-awards. How about to create a Feature where users can get badges like: ![Sample Badge](https://img.shields.io/badge/Dev%20Ranking-1%20Place-green.svg) to put in their Repositories? Maybe this would encourage competitions between deveolpers to make even better software to get much stars?

Thanks for your work!

[2016-02-29 16:26] msallin opened #113 "Wrong Repo Count"
The Repo count is wrong.
I think it is because I deleted some public repositories.

[2016-03-16 14:25] Mte90 commented on #106
Same problem for me with the caching.
On my page http://github-awards.com/users/search?login=mte90 are reported some repo and languages that not exist anymore and with the refresh done in many months not change that.

[2016-03-16 14:40] peter-edge commented on #106
I can work on repro steps, but my bet is that this would reproduce it:

- make a new user, alice
- make a new repo using alice, foo, with one .go file in it
- star that repo from your main user
- refresh Alice on github awards, should show 1 star
- rename foo to foo-go
- refresh Alice on github awards, I bet it will show 2 stars
- delete foo, create baz, one .go file, star baz from your main user

[2016-03-22 14:22] kalashnikovisme commented on #113
:+1:

[2016-03-22 15:56] rajdee commented on #73
It's back again. And yes,  I've tried refresh my profile several times.
user: rajdee

[2016-03-29 09:54] Manu343726 commented on #110
+1 First time I checked my account (Dec 25, 2015) it worked perfectly. @nunogoncalves could you please point us to that PR so we could check for changes affecting this?

[2016-03-29 10:28] peter-edge commented on #113
Duplicate of https://github.com/vdaubry/github-awards/issues/106 :)

[2016-03-29 10:44] nunogoncalves commented on #110
@Manu343726 https://github.com/vdaubry/github-awards/pull/111

[2016-04-22 22:02] antinucleon commented on #110
Still no C++ developers.

[2016-05-01 20:51] evermeer commented on #107
I have not seen this issue for a while. Is it fixed?

[2016-05-09 22:04] greenlaw110 opened #114 "Does it count the organization repos?"
The heaviest repos are in two organizations I've created, will they get counted?

[2016-05-13 07:12] evermeer commented on #107
Ah... he is back again, so it's not fixed...

[2016-05-20 20:04] 3lvis commented on #114
Yes, github awards also takes in account organizations.

[2016-05-20 21:37] greenlaw110 commented on #114
perhaps I should rephrase my question, does it take count the person's commitment in organization repos into personal credential? The reason I as is I found my rank get down after I refreshed my profile because I moved some repos into organization repos

[2016-05-20 21:46] 3lvis commented on #114
Oh, yeah, your stars get moved to the organization.

[2016-05-20 21:47] greenlaw110 commented on #114
I see. thanks

[2016-05-20 21:47] #114 closed

[2016-05-30 09:32] fatso83 opened #115 "Unable to find certain cities. Stripping away accented chars?"
Take [this guy](https://github.com/kdzwinel). He has about 240 followers, but I am unable to find him in the javascript search, even though he has repos with 3000 stars.

Closest city match to "Kraków" was "Krakw". I am wondering if you are simply stripping accented characters? Then you should do a smarter normalization, since it does not seem to work propertly.

[2016-06-05 10:57] Mte90 opened #116 "Missing repo"
On my profile are reported dart and perl but there are no one repo of this http://www.github-awards.com/users/mte90
Also with a refresh of the profile they remain.

[2016-06-17 21:03] marceloboeira opened #117 "Contributor stars"
How about counting stars from repositories you have contributed to as your own (based on the number of commits)?

Imagine I have contributed with 10 commits to a repository with 100 commits, and 1000 starts.

10 commits is 10% of 100 commits, so Github Awards could "give me" +100 stars (10% of 1000)

I think that makes the ranking fair for core contributors of large repositories who dedicated much

[2016-07-08 06:26] larsbrinkhoff opened #118 "GitHub language search mismatch"
Hello,

There is a problem in the user profile pages, when clicking the "Repos" link which does a search on GitHub.  Sometimes the github-awards language doesn't match the GitHub name.

For example, clicking "Repos" in "c# ranking" here: http://github-awards.com/users/kristofferahl, goes to https://github.com/search?q=user:kristofferahl+language:c#, which doesn't match any results.  The correct se

[2016-07-12 07:30] schmunk42 commented on #3
It does not find City nor Country, i.e

- http://github-awards.com/users/search?login=dmstr
- http://github-awards.com/users/search?login=tebru

In my case `dmstr` has the same location as my [personal account](https://github.com/schmunk42).

[2016-07-19 04:20] Benjamin-Dobell commented on #117
This sounds like a truly awful idea.

Who is to say that all commits constitute an equal body of work? Generally speaking, they don't.

Recognising that, are you then going to look at diff sizes? I don't know about elsewhere, but I've always valued small concise contributions and overall net line count *deletions* more than additions.

This is a rabbit hole. This tool is just meant to be a bit of

[2016-08-12 22:42] jayvdb opened #119 "API docs broken"
http://github-awards.com/docs doesnt show docs, and mentions an error that links to http://online.swagger.io/validator/debug?url=http://github-awards.com/docs/api-docs.json, which currently  says

[code]

[2016-08-13 02:07] jayvdb opened #120 "Show date data was extracted"
I've encountered http://github-awards.com/users/dimazniawan appearing on http://github-awards.com/users?utf8=%E2%9C%93&type=city&language=ruby&city=Cimahi , but https://github.com/dimazniawan is 404.

So , I assume they have renamed or deleted their account, but dont know how recently as I dont know when the github-awards data was last updated.

It would be good to mention that somewhere on the we

[2016-08-13 02:22] jayvdb commented on #107
ftr, https://github.com/ashfurrow lists location as "New York"

[2016-08-13 02:34] jayvdb opened #121 "Duplicate Github user ids"
Following on from #120 ... username [`dimazniawan`](https://github.com/dimazniawan) (404) appears to be the old username of [`dimasjt`](https://github.com/dimasjt), with both having the same user Github id `7132688` appearing in the github-awards json.

They both appear on [Ruby in Cimahi](http://github-awards.com/users?utf8=%E2%9C%93&type=city&language=ruby&city=Cimahi), with the following [JSON]

[2016-08-13 03:17] jayvdb opened #122 "City API"
It would be useful to add a cities endpoint to the API (#74), listing the cities known.

[2016-08-13 03:46] jayvdb opened #123 "Extra cities with 'city' appended"
"Cimahi city" should be merged into "Cimahi"
http://github-awards.com/users?utf8=%E2%9C%93&type=city&language=ruby&city=Cimahi%20city

https://github.com/41studio says "Plaza Sangkuriang Building, Jl. Sangkuriang No. 19 - 23, Cimahi 40511. West Java, Indonesia"

Interesting that without language=x , there are no results for "Cimahi city"
http://github-awards.com/api/v0/users/?city=Cimahi%20city&ty

[2016-08-13 04:46] jayvdb commented on #121
Two more duplicates in data for Bandung

Github-awards username irfan-fadilah for Github id 6077598 is now irfanfadilah
Github-awards username rahmatawaludin for Github id 1274849 is now rawaludin

[2016-08-15 04:48] jayvdb opened #124 "Swagger has incorrect basePath"
http://github-awards.com/docs/api-docs.json says `"basePath": "http://localhost:3000/",`

[2016-09-05 15:42] alvarotrigo commented on #74
The docs page doesn't exist anymore.
Is this project still active ?

[2016-09-05 15:42] alvarotrigo commented on #119
+1

[2016-09-06 03:11] jayvdb commented on #74
Crosslinking with #119 which is about the broken docs.

[2016-09-18 13:46] szabgab opened #125 "[Feature request] Listing without Country and/or Language filter"
Would it be possible to show users in a country regardless of the programming language?

Also to show users of a programming language regardless of country?

[2016-10-03 14:50] freekmurze opened #126 "We couldn't find your city from your location on GitHub :("
Getting a "We couldn't find your city from your location on GitHub :(" for our company profile.

http://github-awards.com/users/search?login=spatie

Location is clearly filled in

https://github.com/spatie

What can I do to resolve this?

[2016-10-04 06:31] rajeshwarpatlolla opened #127 "Profile is not refreshing even after reloading the profile"
Please have a look at my profile
http://github-awards.com/users/rajeshwarpatlolla

[2016-10-09 16:25] satazor opened #128 "Add `type` to search api response"
At the moment it's impossible to distinguish between users and organizations from the API search results. Adding a `type` (user, org) would allow to differentiate between them.

Also the following question from the FAQ should be removed: `Why is my organization not shown?`

[2016-11-08 08:45] gep13 commented on #55
@vdaubry is there any chance that you can do the same as you did for @igorspasic on the cake-contrib organisation? Thanks!

[2016-11-19 10:26] natsu90 opened #129 "Top users without specific language"
When I clicked 'Top users by country' it will sort to top Javascript devs too.

[2016-11-22 08:42] kamikazechaser opened #130 "Take Pull Requests into consideration"
It would be great to rank users based on their contribution to public/open-source projects by taking into consideration the amount of their pull-requests being **merged**. The reason for this is that they are several users out there who have fewer stars and repos but make a huge impact on open-source by submitting pull-requests. Let me know your views on this!

[2016-11-29 06:18] mazipan opened #131 "Can we sort language programming select box by alphabetical ?"
If you go http://github-awards.com/users?country=united+states example.
We will get select box that list programming language, but somehow I dont see its already sort.
Can we make that sorted ?

[2016-12-10 14:35] siddharthkp commented on #131
@mazipan, You can give a pull request 😄

Here's the file: [languages.json](https://github.com/vdaubry/github-awards/blob/f49add902f3ed73eb0a1769e46abc07d8f7fc78f/app/assets/json/languages.json)

Not sure if the first few languages are kept there intentional @vdaubry

[2016-12-10 14:40] siddharthkp commented on #130
@kamikazechaser Duplicate of https://github.com/vdaubry/github-awards/issues/3 and https://github.com/vdaubry/github-awards/issues/30

There's a long discussion on this 😄

[2016-12-10 15:48] mazipan commented on #131
I think alphabetical sort is good for user.
But is there any concern why it sort like that ?

[2016-12-10 16:00] nunogoncalves commented on #131
The first languages were sorted like thank to reflect most common ones according to github. The API also allows for an alphabetically sorted list.

[2016-12-11 01:51] mazipan commented on #131
Or can we change the component to show list of programming language to autocomplete input text, not dropdown like now ?
Because Its hard to me as user to change the selection if many data showing in dropdown that not sorted alphabeticaly.

[2016-12-11 03:03] Kyubyong opened #132 "language: Jupyter notebook?"
First, thank you for this great project. I realized there's no language `Jupyter notebook` on the language option list. Or does it actually count as a subset of Python? If not, I think it should be because Jupyter notebook is a another editing tool for Python.

[2016-12-15 17:36] JuanKRuiz opened #133 "Ignore accents and diacritics in location search"
Ignore accents and diacritics in location search,
some users don't use them when put their locations, some others do.

Example searching by **Bogotá** or **Bogota** bring different results but all of them are from the same city.
![Bogotá](https://jrrqyg-ch3302.files.1drv.com/y3mDArJZMYk88Tx2U6MXEECUvf6-SqSqo1eX5VExM0zp2P16Mj2TifKktyNJ5UvLOenSC0wIUn-V8hd2IZzB6Mn-hAR1Hs4j7Jv39bOnO3jL1DLhlp4nfeJfOh4F

[2017-01-10 12:22] kocsismate opened #135 "Incorrect number of stars"
First of all, thanks for your work! Github Awards is a really cool site :)

But unfortunately, it seems that I found some errors in the top list of my country in PHP: http://github-awards.com/users?country=hungary&language=php

According to the formulae, my org, woohoolabs should only have cc. 219 stars, but after a quick check, the first user should also have way less stars (around 220) and the t

[2017-01-11 10:45] item4 opened #136 ""Warning! redirect_uri_mismatch" after revoke"
I am not live in Kuala lumpur nor Malaysia.

I want to reload but I misclicked app revoke from GitHub.

I can not refresh info and can not re-login to git-award. :(

[2017-01-11 10:52] item4 commented on #136
Screenshot:

![image](https://cloud.githubusercontent.com/assets/559952/21845807/72e50c94-d837-11e6-9b6b-cbb55428325c.png)

[2017-01-15 12:49] SwiftCarlos opened #137 "Please, delete this duplicate or not found users"
Please, delete this duplicate or not found users from Barcelona and Spain Swift lists:

{"users":[{"id":16076167,"login":"cybercarlos","gravatar_url":"https://avatars.githubusercontent.com/u/8502419?v=3","city":"barcelona","country":"spain","stars_count":2934,"city_rank":1,"country_rank":1,"world_rank":105},{"id":16039262,"login":"carlosencoding","gravatar_url":"https://avatars.githubusercontent.c

[2017-01-15 14:04] swiftcarlos commented on #137
I moved cybercarlos and carlosencoding to Marshal Island, but is impossible to change or update cbutron, carlbtrn or carlbutron

"id":16076167, "id":16039262, "id":12987990, "id":15697213 not found 404
"id":15914774 has 0 starts, but in your list have more than 2000....

Please fix it

[2017-01-19 09:01] SwiftCarlos commented on #137
Fixed! :)

[2017-01-19 09:01] #137 closed

[2017-01-19 11:12] BrandConstantin commented on #73
Hello
I refreshed the profile several time, but it's not working.
All its started when given authorization to the freecodecamp.com to acces my GitHub.
You can look my perfile, BrandConstantin, please!

[2017-01-19 11:19] BrandConstantin commented on #7
Hello
I refreshed the profile several time, but it's not working.
All its started when given authorization to the freecodecamp.com to access my GitHub.
You can look my profile, BrandConstantin, please!

[2017-01-30 18:59] bravo-kernel opened #138 "Organization location"
Hi, I've been trying for ages (literally months) to get the city for my organization `alt3` refreshed but to no avail. Am I missing something?

[2017-02-02 16:09] rohmanhm commented on #136
got same problem

[2017-02-02 16:14] vdaubry commented on #136
Thanks for reporting this. it should be fixed now

[2017-02-02 16:14] #136 closed

[2017-02-03 21:57] alvarotrigo opened #139 "301 Redirect error?"
I am calling the following URL from PHP using Curl:
http: //github-awards.com/api/v0/users/

And recently I started getting the following data:
[code]

Did anything changed recently with the API ? If so, how can I avoid this issue?
Calling the same URL directly from the browser seems to work normally.

[2017-02-03 22:25] vdaubry commented on #139
The website moved to http://git-awards.com/ , you should update your script.

[2017-02-03 22:25] #139 closed

[2017-02-04 02:23] alvarotrigo commented on #139
Thanks for the quick answer! Awesome work here! Keep it up!

[2017-02-04 02:30] alvarotrigo opened #140 "Thousands of extra non existent stars?"
The other day taking a look at some top ranking users I discovered some are reported to have thousands of stars they do not really have.
An example of it is [this account](http://git-awards.com/users/jlmakes) which seems to have 22K where in really it only has around half of it, 11K.

Possible realted with #106 ?

[2017-02-08 21:55] eonist commented on #117
@marceloboeira I think this is a really good idea. It could encourage people to collaborate more, I would argue that your "collab-star-count" would be a far more valuable metric than your own star count. Many of the guys who contributed to Swift Package Manager last year now work at Apple. If I were to hire a dev to work on a project their "collab-star-count" would be what I would look at. The mor

[2017-02-14 00:53] avelino opened #141 "filter by user or organization"

[2017-02-20 14:10] josemaia opened #142 "Link to the Repositories on GitHub is not escaped"
E.g. if you have a page with C# Ranking, and click the Repos button, it will redirect you to https://github.com/search?q=user:foo+language:c#.

This search will search for repos in C, not in C#.

[2017-03-08 07:59] mkj-is opened #143 "Czech republic and Czechia are the same country"
The official name for Czech republic was recently changed to Czechia, so there are two lists for Czech republic and Czechia each containing different developers/companies (not totally different, but only some). It might be that Github is storing different value for old account? (It is just an idea, it did strange things for my account until I saved my profile once again.)

[2017-03-18 20:29] D4Vinci opened #144 "Error In ranking !!!"
I was the fourth in **[Top Python GitHub developers in Egypt](http://git-awards.com/users?country=egypt&language=python)** with more than 100 stars.
Suddenly today I find myself 7th with 49 star and I didn't made any changes in my repos like deleting any !
What's wrong ?

[2017-03-20 15:41] D4Vinci commented on #144
Fixed thank you !!

[2017-03-20 15:41] #144 closed

[2017-03-20 16:04] jayvdb commented on #141
Filter what by username?

Filter users by org would be very useful.

[2017-05-14 01:57] BaReinhard commented on #74
Any update on API Endpoints, really looking to see if there is a way to query for top users in a given city with a specific language/languages?

[2017-05-14 02:21] BaReinhard commented on #74
And just like that, I found the solution 😬. However, is there currently a way to query for multiple languages at once with the API? Also is there going to be any update to the docs? Sorry for being so needy, I just think this repo is great and would be even better with a well documented API

[2017-05-16 14:56] BaReinhard opened #145 "Cannot use API in website"
Am I doing something incorrectly here?

I have been able to making API calls in the browser with no issue, but I have tried with jQuery ajax calls as well as angular $http requests but still get:

[code]

Am I missing something in the requests? Thanks

[2017-05-16 15:54] BaReinhard commented on #128
:+1: , some what off topic, but how are you able to query the API? Simply in the browser or are you able to make Cross origin api calls? and if you are, how?

[2017-05-18 10:19] claney opened #146 "Please delete a non exist user"
-

[2017-05-18 20:24] carlosengr commented on #146
And please, Can you delete my user @carlosengr too?

I'm not living in Barcelona - Spain

[2017-05-20 16:08] #146 closed

[2017-05-27 19:46] Jakobovski opened #148 "Can you add some information to the readme regarding the disk space needed?"
I am trying to figure out about how much disk space I need to set this up with all the data.

This will probably be useful for others aswell
Thanks.

[2017-05-28 17:05] BaReinhard commented on #145
pull request #149 should fix this issue, depending on the desired "publicity" (for lack of a better word) the origin can be changed to * to allow for all sites making calls to the API.

[2017-06-27 17:46] larsbrinkhoff commented on #129
Is this a duplicate of #125?

[2017-07-03 21:09] greybax opened #150 "More parameters in formula?"
Seems now formula is like:

Is it possible to make it more complexity and add more parameters such as:

- users **PRs**
- created **issues** by user
- participations in github **organizations**

[2017-07-11 09:10] edwardcodes opened #151 "Rank"
I don't understand how this rank works, an explanation will be appreciated!
Thanks

[2017-07-13 22:06] lorey commented on #151
Just scroll down the readme: https://github.com/vdaubry/github-awards/blob/master/README.md

[2017-07-19 17:08] rdehnhardt commented on #151
http://git-awards.com/users?utf8=%E2%9C%93&type=city&language=php&city=Curitiba

This rank are correct??

[2017-07-22 03:32] samsammurphy commented on #126
Similar problem.. my location is all of Hawaii-USA, so I don't show up when I search my city (i.e. Honolulu)..

[2017-07-22 03:41] samsammurphy commented on #126
just changed my location to Honolulu (maybe this will fix it once the next trawl comes through..)

https://github.com/settings/profile

[2017-08-28 19:24] lassmann opened #152 "new app on play store"
I have taken the liberty to scrap the page, make an API and use in this app. I hope you can use it too!
Here is the link https://play.google.com/store/apps/details?id=io.git.gitawards

[2017-08-30 11:18] lsunsi commented on #126
Same here. Can't figure out how it expects me to fill out my location. Anything I'm missing?

[2017-08-30 19:55] samsammurphy commented on #126
@lsunsi  see my previous comment, follow that link, fill in Location

![public profile](https://user-images.githubusercontent.com/16657983/29892169-50801242-8d69-11e7-84b7-5ae302004a77.png)

[2017-08-30 21:04] lsunsi commented on #126
@samsammurphy it is already filled and I tried in a number of different ways. :(

[2017-09-13 00:12] dsandrade commented on #126
I have the same problem https://github.com/dsandrade, http://git-awards.com/users/search?login=dsandrade

[2017-09-29 18:14] dsandrade opened #153 "We couldn't find your city from your location on GitHub :("
I am with that problem a long time ago on this website, already clicked on refresh button and change my location name as the same of the people in my city.

http://git-awards.com/users/search?login=dsandrade

[2017-10-09 04:27] JimBobSquarePants commented on #114
What's supposed to happen when you own an organization?

E.g. I own this organization and [repo](https://github.com/ResponsiveBP)
Yet the stars are not associated with my [personal account](https://github.com/JimBobSquarePants).

http://git-awards.com/users/jimbobsquarepants

[2017-10-14 03:42] #130 closed

[2017-10-17 14:18] ZoranPandovski opened #154 "Macedonia and Macedonia (fyrom)"
There is only one country and that is Macedonia. So, currently people that have set up location as Macedonia somehow are divided in two country's (Macedonia and Macedonia(fyrom)). It would be good if only one is used and that is Macedonia. Thanks

[2017-10-24 13:49] eshaiju commented on #150
@vdaubry I also think we should include PR and Issues in score in some way

[2017-10-26 19:41] ranisalt opened #155 "List out of order and missing ranks"
The page for top C++ developers in my city ([here](http://git-awards.com/users?utf8=%E2%9C%93&type=city&language=c%2B%2B&city=florian%C3%B3polis)) is out of order and a lot of rank numbers are missing.

[2017-11-05 22:56] saintplay commented on #150
**Points for others' repositories**
[code]

[2017-11-07 23:08] firdausmaulan commented on #153
I got same issue.
http://git-awards.com/users/search?login=firdausmaulan

[2017-11-20 10:14] yamenarahman opened #156 "Including PRs in ranking formula"
Are there any intentions to include pull requests in the ranking formula, maybe something like If someone has a successful PR to a specific repo he could get stars of it.

I don't know if it's possible or not but I do believe that PRs and issues should be in the formula of ranking.

[2017-12-20 20:23] felladrin commented on #153
@dsandrade You need to set your city on your github profile. Go to <https://github.com/settings/profile> and fill up the field `Location` with: `Marília, Brazil`

[2017-12-20 20:31] dsandrade commented on #153
I did't and I keep the same issue

[2017-12-20 20:35] felladrin commented on #153
Good, now go to <http://git-awards.com/users/dsandrade> and click "Refresh your profile", then login and voilà!

[2017-12-21 11:19] dsandrade commented on #153
Same issue

[2017-12-21 12:42] felladrin commented on #153
I see. That's weird. I can find some other people from Marília:
http://git-awards.com/users?city=mar%C3%ADlia

And some of the has Marília set as their city on GitHub, for example:
http://git-awards.com/users/edersonsandre

I don't know why your user isn't updating.

[2017-12-21 20:22] felladrin commented on #133
I confirm this issue is still there.
Here are the two links to check the different results:
- http://git-awards.com/users?city=Bogota
- http://git-awards.com/users?city=Bogot%C3%A1

[2017-12-31 18:33] Manisso opened #161 "github-awards Bug"
## Bro The First In Algeria On Python Git-awards He Is Not From Algeria He Is From Tunisia
Then i can Change My Address And I Can Be The First In Many Country Change This Pleas
[git-awards](http://git-awards.com/users?country=algeria&language=python)

[2018-01-04 23:01] willfarrell opened #163 "Have separate ranking for person vs organization"
Maybe an extra two columns

username | All | Org | One
----------|---|-----|------
a | 1 | 1 | -
b | 2 | - | 1
c | 3 | - | 2
d | 4 | 2 | -

[2018-01-08 16:39] wherkamp commented on #153
I am having this problem too.
http://git-awards.com/users/search?login=wherkamp
I have clicked refresh your profile twice.

[2018-01-25 16:35] D4Vinci opened #164 "Incorrect ranking by country"
Hi!
I noticed an issue months ago and was waiting for you to fix it but it's still there so I searched how to tell you!
Anyway there's incorrect country ranking in my case I'm from **Egypt** and in **Egypt** ranking, I found there are many people from **Sri Lanka** appearing on the page as you can see [**Here**](http://git-awards.com/users?country=egypt&language=python).
### Any plans to fix this?

[2018-01-31 11:04] zerho opened #165 "Updating the languages dataset"
Id' like to perform a pull request to update the list of supported languages, but I'm not really a Ruby guy, it this the only file to update?!
https://github.com/vdaubry/github-awards/blob/f49add902f3ed73eb0a1769e46abc07d8f7fc78f/app/assets/json/languages.json

[2018-02-02 13:55] pixelpeter commented on #153
Same issue here
http://git-awards.com/users/search?login=pixelpeter

[2018-02-02 14:51] wherkamp commented on #153
Mine got fixed it took a few days.

[2018-02-20 10:28] ankitjaiswal1994 commented on #126
By clicking on update profile resolved the issue. I just checked.

[2018-02-20 10:31] dsandrade commented on #126
Alredy clicked a million of times

[2018-02-20 10:40] ankitjaiswal1994 commented on #126
ok, last try just set your location again -> Refresh profile -> update profile.

Gud luck

[2018-03-04 20:55] alletsee commented on #153
It worked for me when updating it on the git-awards website - however, i am shown in the **wrong** city: git-awards shows a city where i used to live in, not my current city. (My current city is part of the Github profile/settings for a while, so it is probably not a caching issue.)
https://github.com/alletsee
http://git-awards.com/users/alletsee

I also noticed that ocassionally git-awards shows

[2018-03-05 20:09] eusebiu-biroas opened #166 "Improve site reliability by enabling HTTPS"
Site reliability could be improved by enabling HTTPS. I recommend using free SSL certificates from Let's Encrypt: https://letsencrypt.org/getting-started/ .

[2018-03-08 06:52] GauravWalia19 opened #167 "Username i.e GiteshWadhwa not found!!!!"
My friend Username i.e GiteshWadhwa is not searched although the profile exists ans showing this error:
**Warning! User GiteshWadhwa not found. If you are looking for your own profile you can refresh it from Github.**

[2018-03-12 09:32] Seklfreak commented on #153
Same issue, City is on my profile, I did refresh http://git-awards.com/users/seklfreak

[2018-03-12 22:05] brean opened #168 "City not updating"
Hi,

some time ago I moved to Wuppertal and changed it in my github account, but github-awards is not updating, it still shows "Mülheim" as my city. (see http://git-awards.com/users/search?login=brean )

- Andreas

[2018-03-13 10:28] brean commented on #168
Today it is updated... interesting, do I have to manually click the "update profile" button when I move or did someone here updated it manually?

[2018-03-14 09:59] evermeer commented on #164
I think this is a common problem related to relocation of persons. Also the [Dutch ranking](http://git-awards.com/users?country=netherlands&language=swift) will show incorrect users. (see numbers 6 on row 3, 55 on row 8 and 5 on  row 17). I now from one of them has lived in the Netherlands 4 years ago but now lives in the US. It shows his US ranking on the Dutch page.

[2018-03-22 13:31] sharma02gaurav commented on #126
no luck

[2018-03-22 15:03] Jaykul commented on #140
Ditto for [this account](http://git-awards.com/users/bliker) which ranks high for several languages, while [in reality](https://github.com/bliker) it not only has no stars, but only has one language in repos...

[2018-03-24 20:28] kvokka commented on #164
The same issue found
URI http://git-awards.com/users?utf8=%E2%9C%93&type=country&language=ruby&country=Portugal

top1 user has rank 10 and currently he is not in Portugal.

[2018-03-31 04:05] kvokka opened #169 "Duplication records"
If any user will change his location since initial `git-awards` setup, it will affect username duplication.
So, if User `foo` move from `London` to `New-York` he will be shown in both lists with `New-York` rank.
Also, if User `foo` changes his name to `bar`, it mean that now we will have 2 users. And user `foo` will increase his stars count, when needed, but `bar` will be zombie with stars count a

[2018-04-05 02:37] wellingtoncosta opened #170 "Refresh data is not working"
I tried to update my data by clicking in the green button, but it sounds not working. Currently, my city location is not appearing, but I have this information on my GitHub account.

[2018-04-05 17:01] diegohaz commented on #170
Not sure if it's related, but it's been a few days (or a week) since numbers aren't updated automatically.

[2018-04-11 20:08] WellingtonCosta commented on #170
One week went by and my data wasn't updated. :(

[2018-04-11 20:11] diegohaz commented on #170
Any idea, @vdaubry?

[2018-04-11 20:16] WellingtonCosta commented on #170
@brean has mentioned in issue #168 that his city information was updated after 29 days "mysteriously".

[2018-04-12 08:54] brean commented on #170
@WellingtonCosta I think there might be either some human involved because it updated "mysteriously" one day after I created the issue on github 😉 or the update-process takes at least a day after you click on "Refresh your profile".

[2018-04-20 22:59] DipanshKhandelwal opened #171 "Better frontend ?"

[2018-04-22 20:44] FFY00 opened #172 "Link is not being escaped, breaking the github search querry"
In https://github.com/vdaubry/github-awards/blob/415d57563daeb13d94d375b20cd0380cd9c07533/app/views/users/show.html.erb#L51, the link is not being escaped. This breaks the github search querry for some languages like `C#`.

**Example**
Go to http://git-awards.com/users/ffy00 and click in `Repos` on the `C#` section.
This will open `https://github.com/search?q=user:ffy00+language:c#` which shows th

[2018-04-24 17:09] antonioribeiro commented on #170
Around zero updates in the last 20 days or so in this page: http://git-awards.com/users?country=brazil&language=php, even manually updating my profile does nothing.

[2018-04-25 13:05] antonmedv opened #173 "Add orgs stats for owners"

[2018-04-30 12:24] atatanasov opened #174 "AutoUpdate of stars doesn't work"
My number of starts is not accurate. I think that the autoupdate is frozen in the last 2 weeks.

[2018-04-30 22:31] diegohaz commented on #174
Also, #170

[2018-05-07 13:02] sinwar opened #175 "parse_users and parse_repos tasks are not available"
these tasks are not available in rake tasks but mentioned in `readme`. I am trying to run it on local and not able to do this.

[2018-06-01 08:36] akhalilli opened #176 "Location update"
Hi. I've updated my location, but not updated on website. Could you update it please.

[2018-06-01 08:37] akhalilli commented on #176
Also, clicked 'refresh details' button, but not any result.

[2018-06-01 09:53] #176 closed

[2018-06-01 09:54] akhalilli commented on #176
updated.

[2018-06-08 18:15] areebbeigh opened #177 "Starring your own repos"
I noticed https://github.com/vdaubry/github-awards/blob/master/app/workers/rank_worker.rb doesn't take into account the fact that users can star their own repos?

TBH I don't think it'd matter that much in large numbers but for better and fairer ranking I think it would be best to exclude stars from the repo owners?

[2018-06-13 13:54] SamirSales commented on #153
Same issue [http://git-awards.com/users/search?login=samirsales](http://git-awards.com/users/search?login=samirsales)

[2018-06-13 17:06] sohelamin opened #178 "Ranking isn't updating for a long while"
Hi, I couldn't get any update with my country for a month.
http://git-awards.com/users?country=bangladesh&language=php

[2018-06-19 16:04] #106 closed

[2018-06-21 16:14] SamirSales commented on #126
no luck

[2018-06-22 18:10] dsandrade commented on #126
no luck

[2018-06-23 02:55] sohelamin commented on #178
@vdaubry Can you check this serious issue?

[2018-07-04 20:35] kocsismate commented on #135
Closing this as it seems there is not much activity here.

[2018-07-04 20:35] #135 closed

[2018-07-16 20:01] antonioribeiro commented on #178
Three or four months for Brazil

[2018-07-17 03:44] sohelamin commented on #178
Very annoying issue :(
The refresh button isn't working with an organization repo.

[2018-07-20 10:27] songtianyi commented on #178
Meeeetoooo!!!
Sorry, where to check the refresh button? I have seen once and it worked. But i can not find the button any more!
Best regards.

[2018-07-20 10:31] sohelamin commented on #178
@songtianyi  Delete the site's cookies

[2018-07-20 19:14] antonioribeiro commented on #178
Gives me the very same values of three months ago

[2018-07-21 05:39] sohelamin commented on #178
That is the issue. We need a fix seriously.

[2018-07-22 17:24] songtianyi commented on #178
@antonioribeiro
Refresh is ok for me, my data was updated correctly.

[2018-08-02 01:23] D4Vinci commented on #178
Same goes for me in Egypt I still have 2362 but to my calculations I should have at least 2721

git-awards.com/users?country=egypt&language=python

and where's this refresh button you are talking about ? and the site doesn't have cookies in my browser!

[2018-08-02 14:17] antonioribeiro commented on #178
@songtianyi, tried on many different browsers and devices, may have worked for you but, I can tell for a fact, the the problem is not on my end.

@vdaubry, would you care to comment on this thread?

[2018-08-02 14:34] D4Vinci commented on #178
I could update it by allowing the website app to my account from that refresh button in my profile in the website.

[2018-08-02 15:08] antonioribeiro commented on #178
@D4Vinci, tried it many times to, it didn't work either. Tried it today, just to check, and it updated. :/

Thank you.

[2018-08-02 15:17] antonioribeiro commented on #178
@D4Vinci, it updated my stars but not the others, so ranking is not right, I'm probably not in the 1st place here: http://git-awards.com/users?country=brazil&language=php

[2018-08-04 13:24] D4Vinci commented on #178
Exactly!
It's not a solution so we all have to wait for the fix :3

[2018-08-05 08:14] simonepri commented on #178
There is also a problem with the cardinal number that tells you the rank:
<img width="843" alt="screen shot 2018-08-05 at 09 07 40" src="https://user-images.githubusercontent.com/3505087/43683980-1fcc1da8-988f-11e8-843d-487072f784e8.png">
As you can see the 10th is missing.
This is probably due to the fact that that user has both Italy and Sweden in the place field:
<img width="264" alt="screen sh

[2018-08-07 12:20] bruno-alencar commented on #170
Hey, my ranking is not updating and not requesting for refresh.

[2018-08-07 13:39] wellingtoncosta commented on #170
No answer from @vdaubry ...

[2018-08-07 16:46] bruno-alencar commented on #170
Do we have to ask him on twitter?

[2018-08-07 16:47] bruno-alencar commented on #170
Do we have to ask him on twitter?

[2018-08-10 12:44] simonepri commented on #178
Another problem is with people that change username:
![image](https://user-images.githubusercontent.com/3505087/43958468-707c8626-9ca3-11e8-966c-10ca368a7457.png)

[2018-08-15 11:13] AndreiMisiukevich commented on #118
Hey) C# to csharp would be great =)

[2018-08-22 14:03] sohelamin commented on #178
Without any doubt, this is a very good open source project but the author seems no wish to maintain this anymore.

[2018-09-22 18:41] gleisonbt opened #179 "rake user:crawl aborted!"
I try run the command rake user:crawl, but occurs the following fail:
rake aborted!
PG::ConnectionBad: FATAL:  Peer authentication failed for user "gitubawards"

Would some one help me?

[2018-09-22 23:54] #179 closed, assigned to nobody

[2018-09-27 08:24] amineHorseman commented on #153
Same here: https://github.com/aminehorseman

[2018-09-29 11:09] LuanDevecchi opened #180 "wrong keyword for C# search on GitHub"
If we click on 'Repos' link in C# ranking

![](https://i.imgur.com/h9fnFzO.png)

We are redirected to ![](https://i.imgur.com/UXMbgLW.png)

but it returns C repos, since the correct keyword is csharp and not C#
![](https://i.imgur.com/6iOrBYn.png)

if we use 'csharp' keyword then
![](https://i.imgur.com/5pTfGhc.png)

[2018-10-02 21:37] AlexITC opened #181 "Cities aren't transliterated"
While trying to search for cities having Spanish accents, it looks like the application removes the characters with accents, transliterating the words is a way to solve the issue.

For example, try to look for `Culiacán` or `Mérida` but they can't be found, instead, you get the following alternatives: `Culiacn` and `Mrida`.

[2018-10-09 06:10] nithinM commented on #153
Same for me as well..

[2018-10-09 21:50] Abdirahiim commented on #153
Same here, updated it several times but didn't see any changes

[2018-10-18 14:10] alekseydevksh commented on #126
the same problem https://github.com/AlekseyDevksh

[2018-10-18 14:11] alekseydevksh commented on #153
same problem https://github.com/AlekseyDevksh

[2018-10-19 19:21] Bereket-G commented on #153
http://git-awards.com/users/aaitbereket same issu here

[2018-11-02 06:26] tokijh commented on #153
Same issue http://git-awards.com/users/search?login=tokijh
I set `Seoul, South Korea` at location field, but it didn't apply.

[2018-11-07 22:03] onmyway133 commented on #178
I was thinking about making something like this, but wonder if it brings any value 🤔

[2018-11-10 12:03] sohelamin commented on #178
@onmyway133 Why not just make a PR on it?
I'm not a ruby guy otherwise I'd help.

[2018-11-10 19:27] igneus commented on #180
duplicate of #142, fixed in my pull-request #157

[2018-11-18 10:40] ImanX opened #182 "don't show my account when search by location."
Hello, I have an issue in search by location for my account. I did change my location and I update and refresh my account in 'http://git-awards.com' for several times but that show alert 'We couldn't find your city from your location on GitHub :(' to me?
where is my account problem?
Thanks.

[2018-11-28 11:12] AndreiMisiukevich opened #183 "Seems, it doesn't sync with github"
Hi, check this link http://git-awards.com/users?utf8=%E2%9C%93&type=country&language=c%23&country=Belarus

Ratings of other people are frozen/fixed (Stars etc.) for 2-3 moths. My data is actual, because I refresh my profile manually.

Did github changes something in api and data isn't synced ?

[2018-11-30 10:04] AndreiMisiukevich commented on #183
@vdaubry hey, do you still support this project ?)

[2018-12-11 11:26] AndreiMisiukevich commented on #183
@vdaubry sorry?)

[2018-12-20 11:12] AndreiMisiukevich commented on #183
https://github.com/vdaubry/github-awards/issues/178 duplicated

[2018-12-20 11:12] #183 closed, assigned to nobody

[2018-12-20 11:14] AndreiMisiukevich commented on #178
The same issue

[2018-12-27 07:29] andrewda commented on #138
Any updates on this issue? How can we refresh an organization's location?

[2019-01-03 11:55] iamshezad commented on #126
@vdaubry same issue here
http://git-awards.com/users/search?login=iamshezad

[2019-01-03 11:59] ops-gaurav commented on #126
@iamshezad
Update location in your profile and then try in 1 or 2 days. With refresh option. It worked for me.

[2019-01-03 12:00] iamshezad commented on #126
@sharma02gaurav I tried it but not working actually.

[2019-01-07 23:18] mtojek commented on #170
@vdaubry +1

Is there any support for this feature? Maybe somebody from OSS can deliver it.

[2019-01-11 13:28] ldakhoa commented on #182
I have the same issue, I changed my location in profile, tried to refresh but that still couldn't find a city.

[2019-01-20 08:12] 0xInfection commented on #156
Absolutely lame idea.

[2019-01-20 08:14] 0xInfection opened #185 "Wrong Repository Count"
The repository count does not refresh and remains same even if you have deleted previous repositories.

I have a total repo count of 2 public and 1 private, but it shows 4, since I had once forked a repo to make a PR, which I deleted quite a while ago. It is not refreshing since then.

[2019-01-31 19:16] asheeshcric commented on #153
Same issue here: https://git-awards.com/users/asheeshcric

[2019-02-08 15:38] 0xPrateek commented on #182
I also have Same problem.

[2019-02-15 12:57] YagoAzevedo commented on #170
I have the same problem. After updating my city in github account and refresh my info's in git awards, my city still empty.

[2019-02-19 15:30] charisschomba commented on #153
facing same issue http://git-awards.com/users/charisschomba

[2019-03-17 09:20] alexfoxy commented on #153
I have this issue, my location is set to 'London, UK'

[2019-03-18 18:01] remram44 commented on #153
Somehow "New York, New York" parses to... "Las Vegas"?

[2019-03-18 22:06] sztomi commented on #30
+1 on this, most of my stars are in an org repo and they are not accounted for.

[2019-03-19 05:54] arnemertz commented on #182
Same - and "Hamburg" should be pretty straight forward. Some things I found while looking at other users that are located in Hamburg according to git-awards (http://git-awards.com/users?utf8=%E2%9C%93&type=city&language=javascript&city=Hamburg):
- https://github.com/lmenezes is not located in Hamburg, but their company is.
- https://github.com/cramforce is not located in Hamburg at all
- https://g

[2019-03-19 08:31] arnemertz opened #187 ""No info for your account""
I've now seen several accounts show up as "no info". Contrary to the message, they have repositories with languages guessed by GitHub:

http://git-awards.com/users/bruderol
http://git-awards.com/users/carstenkind

For others, the number of stars is completely off:
http://git-awards.com/users/abeggchr has 54 stars in Groovy, not 0.
http://git-awards.com/users/igr has way over 2k stars in Java, not

[2019-04-06 12:50] johnmcfarlane commented on #168
I haven't lived in Seattle for years and no longer live in the US [but I'm ranked that way](http://git-awards.com/users/search?login=johnmcfarlane). Goodness knows where it's picking the information up from.

[2019-04-11 05:18] paoloo opened #188 "country never updates"
If you move into another country and refresh your account, you still are linked to the previous country where you lived.

[2019-04-14 12:27] theafolayan commented on #126
Same issue from Lagos Nigeria here

[2019-05-04 11:31] NaagAlgates commented on #153
This ticket is open for almost 2 years now!

[2019-05-06 04:07] ialhashim commented on #188
I've noticed the same problem as well.

[2019-05-10 08:55] nanchen2251 opened #189 "Why can't I see my city rankings?"
I saw the same problem，but how to solve。

android my name is nanchen2251.

in Chengdu

[2019-05-10 10:15] nanchen2251 commented on #189
![image](https://user-images.githubusercontent.com/15808532/57520149-886d8400-734f-11e9-89ea-da5ecb07897a.png)
![image](https://user-images.githubusercontent.com/15808532/57520262-cb2f5c00-734f-11e9-9ba2-e39ab2e9f31c.png)

[2019-05-10 13:42] lemire commented on #172
The same holds true with C++.

[2019-05-10 13:45] lemire opened #190 "Stats are obviously wrong (C++)"
I have many more than 1531 stars in my C++ projects...
http://git-awards.com/users/lemire

E.g., a single one of my projects exceeds 6000 starts...
https://github.com/lemire/simdjson

[2019-05-11 02:03] AlaaEdAouimeur commented on #153
Same!

[2019-05-16 07:20] wuriyanto48 commented on #189
same problem here

[2019-05-27 02:58] KunMinX commented on #153
Same issue here: [http://git-awards.com/users/search?login=KunMinX](http://git-awards.com/users/search?login=KunMinX)

Both city and country info can not be found.

[2019-05-27 05:59] KunMinX commented on #189
me too.

Hangzhou, China

[2019-05-28 00:20] walid-mashal commented on #153
Same here, but is git-awards even asking permission for location? if you see it only asks for the email address i think.

![git-awards](https://user-images.githubusercontent.com/30696582/58442957-1abda800-8104-11e9-9712-7a60047188fd.png)

[2019-05-31 00:31] estiens commented on #190
Yeah, I think it's been years since anything worked on this site...doesn't seem to be updating anymore

[2019-05-31 01:06] lemire commented on #190
I think it should be shut down if it is unmaintained?

[2019-06-05 11:44] Ikhiloya commented on #126
Same issue from Lagos Nigeria

[2019-06-05 13:06] DevelopedByAnurag opened #191 "We couldn't find your city from your location on GitHub :("
Hi.

I've tried to refresh my profile several times (by clicking the refresh button below my avatar), but my location information is not updated. and shows me an error "We couldn't find your city from your location on GitHub :("

Could you check my profile?

username : http://git-awards.com/users/developedbyanurag

Thanks.

[2019-06-12 06:25] geek-prince commented on #153
Same issue here: http://git-awards.com/users/search?login=geek-prince
Both city and country info can not be found.

[2019-06-23 03:28] sabbirshawon commented on #153
Same issues for me: http://git-awards.com/users/sabbirshawon

How to fix it?

[2019-07-18 19:00] enbis commented on #153
Also for me, same issue. I've set and update the location hundreds time, but nothing's changed.
http://git-awards.com/users/enbis

[2019-07-19 06:16] Vali0 commented on #170
Same issue here, I've been waiting for a month already and my city is still missing. Does anyone have an idea who we can contact or how to resolve this problem?

[2019-08-01 12:15] altynbek07 commented on #191
@vdaubry @lsunsi i have same problem: http://git-awards.com/users/altynbek07
I live in Atyrau, Kazakstan (showed in profile).
Github: https://github.com/altynbek07

[2019-08-08 08:37] smartapant commented on #174
@vdaubry any update here?

[2019-08-15 21:32] ArbahudRioDaroyni commented on #153
same issue [http://git-awards.com/users/Arbahudriodaroyni](url)

[2019-09-04 06:25] clayrisser opened #192 "Ranking never updates"
My git ranking is extremely out of date.

Every time I try to update, it never updates.

http://git-awards.com/users/codejamninja

[2019-09-11 14:11] styfle opened #193 "ZEIT org image is incorrect"
Compare these two profile images:

- http://git-awards.com/users/zeit
- https://github.com/zeit

[2019-09-23 09:59] ikzelf commented on #153
It is not very clear but I guess location is not part of email address. [https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/](url) So as far as I can see now, it should request access for User and I guess that includes email_address and location info. Maybe a bit more info than strictly needed ....

[2019-09-24 04:48] walid-mashal commented on #153
Is anybody from the repo maintainers even looking at the issues, and bother to reply for one?

[2019-09-27 11:26] Glennmen commented on #153
I think this happens because Google changed their Google Maps API Policy and now requires to add an API key to each request.
https://maps.googleapis.com/maps/api/geocode/json?address=Beringen

[2019-09-29 18:58] apksherlock commented on #191
yea, same problem

[2019-09-30 18:51] Sanjit1 commented on #191
I also have the Same problem

[2019-10-02 12:10] bigfanjs opened #195 "Wrong Country"
I am a developer from Morocco. And when I try to check my local ranking on Git awards, it looks like I am counted as a developer from USA/New York!

[2019-10-02 22:06] Niyiojeyinka commented on #170
same issue here

[2019-10-22 00:19] Fatima-Usf commented on #86
I have same problem

[2019-10-26 06:55] mohamednizar commented on #191
Having the same problem. http://git-awards.com/users/search?login=mohamednizar :(

[2019-11-06 10:28] shamim0902 commented on #189
I also can't see my country and city location.
username:  hasanuzzamanbe

[2019-11-11 07:48] Vali0 commented on #192
Same here

[2019-11-11 07:49] Vali0 commented on #191
Same problem https://github.com/Vali0

[2019-11-17 08:54] ahmed3elshaer commented on #126
same issue from my account http://git-awards.com/users/search?login=ahmed3elshaer, https://github.com/ahmed3elshaer

[2019-11-17 09:14] ahmed3elshaer commented on #153
Same issue here and couldn't be fixed

[2019-12-01 06:57] qwertyquerty commented on #191
Same problem here too

[2019-12-01 06:58] sbis04 opened #198 "It is showing: "We couldn't find your city from your location on GitHub :(""
My profile: http://git-awards.com/users/search?login=sbis04
GitHub: https://github.com/sbis04

Similar issues: #153 #126 #191

[2019-12-01 07:16] SofianeHamlaoui commented on #182
I’m having the same issue 😔

[2019-12-01 12:41] HeyPouya commented on #198
Same here
http://git-awards.com/users/search?login=sirlordpouya
https://github.com/SirLordPouya

[2019-12-06 20:23] hasanmoha commented on #170
hello

[2019-12-06 20:28] hasanmoha commented on #119
still iam waiting star issues and my git awards

[2019-12-11 09:10] librauee commented on #189
same problem here.
Zhoushan

[2019-12-11 19:07] qwertyquerty commented on #198
Same here

[2019-12-26 18:23] anvaka commented on #192
Yup, looks like it's stale now. @vdaubry any chance you can refresh it?

[2019-12-29 13:16] Ahmadalsofi opened #201 "We couldn't find your city from your location on GitHub :("
Hi There,

I've update my information and my location, but I'm still face this issues.
would you please update my profile info.

Thank you.

[2019-12-31 08:10] simform-solutions opened #202 "Wrong star count"
According to Github Awards I have 640 stars for Swift:
![image](https://user-images.githubusercontent.com/8736329/71614650-eeef2d00-2bd2-11ea-9fd3-2786ef9bcbcf.png)

But according to my profile it's more then 1k.
![image](https://user-images.githubusercontent.com/8736329/71614641-e565c500-2bd2-11ea-8422-867c882fa8ea.png)

[2020-01-15 12:55] oprogramador opened #203 "find the top developers within a given range"
It would be great to find the top developers for a provided city name and range e.g. 200 km from London.
You could use https://github.com/zeke/all-the-cities

[2020-01-15 12:56] oprogramador commented on #115
@fatso83 what do you think about https://github.com/vdaubry/github-awards/issues/203 ?

[2020-01-15 12:59] oprogramador commented on #191
@DevelopedByAnurag

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 13:00] oprogramador commented on #201
@Ahmadalsofi

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 13:01] oprogramador commented on #198
@sbis04

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 13:01] oprogramador commented on #189
@nanchen2251

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 13:01] oprogramador commented on #182
@ImanX

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 13:02] oprogramador commented on #168
@brean

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is very similar but has more likes?
you could write your exact situation in a comment

[2020-01-15 13:02] oprogramador commented on #155
@ranisalt

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 13:03] oprogramador commented on #126
@freekmurze

could you close this issue and like (👍) https://github.com/vdaubry/github-awards/issues/153 which is the same but has more likes?

[2020-01-15 15:41] fatso83 commented on #115
Not sure how this bug is related to your feature request. Would be nice of course

[2020-01-15 16:26] oprogramador commented on #115
This bug should be fixed but a workaround would be to have multiple cities with the same location: `Kraków`, `Krakow`, `Cracow` so searching for developers within 0 km from this city would find all.

So possibly `Krakw` could be another name though it's not the best idea because sometimes a city could be written entirely with non-English characters.

[2020-01-15 20:42] brean commented on #168
closed, duplicate of #153

[2020-01-15 20:42] #168 closed

[2020-01-16 01:41] #155 closed

[2020-01-16 01:44] ranisalt commented on #155
Sure!

[2020-01-16 02:40] supershowwei commented on #153
i have same issue.

http://git-awards.com/users/search?login=supershowwei

[2020-01-19 09:23] nanchen2251 commented on #189
ok. thanks

[2020-01-19 09:23] #189 closed, assigned to nobody

[2020-01-19 09:32] johnmcfarlane commented on #168
@brean @oprogramador This issue was not a duplicate. It tracks the wrong location being used. #153 tracks failure to determine any location at all.

I am not experiencing the problem tracked by #153 and have no plans to +1 it.

[2020-02-07 07:53] piyushsinha24 opened #204 "Not fetching my location"
username: piyushsinha24
Only showing worldwide ranking and failing to fetch country/city. Please fix it.

[2020-02-20 08:19] #204 closed, assigned to nobody

[2020-02-27 21:56] robertohuertasm commented on #195
I'm from Barcelona/Spain but in my profile I can see Tulsa/USA.

[2020-03-06 13:12] jacobbogers opened #209 "wrong star count"
Its not counting my projects in the organisation I created

https://github.com/R-js

It used to do that, has something changed?

[2020-03-09 20:15] GyokayAli commented on #153
I have same issue.

http://git-awards.com/users/search?login=gyokayali

Thanks

[2020-03-29 19:48] Sanyam96 commented on #153
Mine also has the same issue:
github: sanyam96

[2020-04-10 07:20] ahmadfaizalbh commented on #153
I have moved from Chennai to Bengaluru about 10 months ago, but so far it has not been updated in http://git-awards.com/users/search?login=ahmadfaizalbh

[2020-05-27 08:53] 4hbane commented on #153
Same issue here for me :
http://git-awards.com/users/abdouahban

I'm not ranked in my city ( **Marrakech** ) nor my country ( **Morocco** ).

[2020-08-06 08:07] Hamza-Dahmoun commented on #170
same issue here, it's been three dates since I clicked on Refresh button but nothing is updated. the 'Refresh' button is disappeared now.

[2020-08-15 00:46] wellingtoncosta commented on #170
It looks like the author left the project out, so I'm closing this issue.

[2020-08-15 00:46] #170 closed

[2020-08-20 16:24] tobyink opened #212 "City not updated"
I moved house two years ago. I updated my profile on GitHub ages ago, but git-awards.com is still showing my old location.

[2020-08-28 14:36] halfrost opened #213 "refresh is worked ?"
I have refreshed my profile, but the data is not refreshed. So the refresh button is worked?  or has other bugs?

My git-awards link:http://git-awards.com/users/halfrost

![image](https://user-images.githubusercontent.com/10825609/91579939-ed068500-e97e-11ea-8027-254eb7ce4df1.png)

the stars' data is not correct.

[2020-08-30 18:10] syjdev opened #214 "We couldn't find your city from your location on GitHub :("
Hello,

I have update my profile & location, but I'm still see this issue.
would you please update my profile & location?

Thank you.

[2020-08-31 14:09] syjdev commented on #153
Also, I have Same issue.

http://git-awards.com/users/syjdev

[2020-09-03 04:57] ksdkamesh99 commented on #191
I am also facing the same problem
my profile is https://github.com/ksdkamesh99

[2020-09-08 18:01] ahmadfaizalbh commented on #213
I too face same issue

[2020-09-10 19:51] Serg046 commented on #213
Me too. Btw it seems the data is not being updated automatically. Is it true? I see much outdated info about other users that's why you don't have the right numbers even if you update your own profile

[2020-09-11 12:05] axetroy opened #215 "generate image for share"
If we can generate pictures and share it, that will be great.

[2020-09-24 17:34] seiflotfy commented on #153
Same here

http://git-awards.com/users/seiflotfy

should be in Berlin, Germany

[2020-09-29 16:53] rurimo commented on #213
It seems this repository does not be maintained anymore by the owner. 😢 @vdaubry

[2020-12-12 06:11] princecodes247 commented on #182
Same issue

[2020-12-12 07:22] basharovi commented on #191
Having the same problem. http://git-awards.com/users/search?login=basharovi :(

[2020-12-22 23:32] mouadziani commented on #153
Same here issue

http://git-awards.com/users/mouadziani

[2021-01-07 12:52] celyes opened #216 "False statistics for profiles"
Information in users page are not accurate:
example: after visiting the main page, I searched for my handle.
the results are totally inaccurate.
It stated that I only have 1 repo (48 actually) and it stated that i use Java (not a single line in those 48 repos is written in Java) without mentioning the incorrect rank.
link: http://www.git-awards.com/users/search?login=celyes

[2021-01-25 23:08] davidjbradshaw commented on #192
This seems like a dead project. I would suggest trying https://gitstar-ranking.com/

[2021-03-15 09:25] #173 closed

[2021-03-16 03:32] carlosgub commented on #153
Same issue here :(

http://git-awards.com/users/carlosgub

[2021-03-16 14:00] sofianezerrouki commented on #126
same pb with me :(

[2021-03-16 14:03] sofianezerrouki opened #217 "salam, We couldn't find your city from your location on GitHub :( You can manually search for top Java GitHub developers in your city, username: sofianezerrouki"
hello ,
i update my info and still not work for me
username: sofianezerrouki
thank you :)

[2021-03-16 14:18] sofianezerrouki commented on #217
hello ,
i update my info and still not work for me
username: sofianezerrouki
thank you :)

[2021-06-22 22:00] #113 closed

[2021-10-02 15:36] Tomves111 commented on #213
Nooooooo

On Tue 29. 9. 2020 at 18:53, Couzy ***@***.***> wrote:

[2021-10-05 11:01] zakarialaoui10 commented on #182
same

[2021-10-17 04:55] irajuahmed commented on #153
Same issue here

[http://git-awards.com/users/rajuahmedm](http://git-awards.com/users/rajuahmedm)

[2021-10-17 09:02] jayvdb opened #221 "Warning! invalid_credentials"
When I refresh my profile on http://git-awards.com/users/search?login=jayvdb , I am sent to a GitHub authorise page, which works well, and then sent back to github-awards site http://git-awards.com/ and I see an error "Warning! invalid_credentials"

[2021-10-17 11:34] sabbirshawon commented on #153
Still the same issues But no one fix it yet: http://git-awards.com/users/sabbirshawon

[2021-10-28 16:05] kimgoddard opened #222 "Site Down"
Hey your git-awards site seems to be down - will it be coming back on?

[2021-11-01 13:45] bashu commented on #216
the project is dead for past three years or so

[2021-11-01 13:45] bashu commented on #222
the project is dead for past three years or so

[2021-11-29 13:11] enisn commented on #222
This is so sad, it's a pretty good website to follow statistics.

---

I recognized it's still available on the following IP:
http://159.100.250.9/

[2021-11-29 17:21] Tomves111 commented on #222
I dont want have github. And dont want Hance anything with programátors. I
am hard hand worker!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!hate Your
work for so much money!!!!!!!!!!!!!!!!!!!!dont understand code!!!!!!!!!!
On Mon 29. 11. 2021 at 14:11, Enis Necipoglu ***@***.***>
wrote:

[2021-11-30 03:31] bashu commented on #222
to @Tomves111 chill dude, make a deep breath and keep hand working

[2021-12-01 04:43] bashu commented on #222
to @enisn http://159.100.250.9/ still broken, *refresh* feature is not working and it contains outdated stats...

[2021-12-21 20:11] funilrys commented on #222
Domain in auction ... https://www.dropcatch.com/domain/git-awards.com

[2022-01-13 00:57] goldhand commented on #222
Some SEO or marketing company bought the domain :/

[2022-01-13 01:06] goldhand commented on #222
I knew y'all had to be ranked for something or you wouldn't be commenting on this thread 😂

* @bashu - 1st in [Python for Tomsk](http://159.100.250.9/users?city=tomsk&language=python)
* @funilrys - 3rd in [Python for Saarbrücken](http://159.100.250.9/users?city=saarbr%C3%BCcken&language=python)
* @enisn - 2nd in [C# for Turkey](http://159.100.250.9/users?country=turkey&language=c%23)

It is fun to

[2022-02-23 04:50] jnswindle opened #224 "Title: What is the title of your presentation?"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [x] TA

[2022-02-23 04:51] jnswindle commented on #224
- -

[2022-02-25 15:39] jnswindle opened #225 "> Title: What is the title of your presentation?"
- -

__Originally posted by @jnswindle in https://github.com/vdaubry/github-awards/issues/224#issuecomment-1048447493__

[2022-02-26 07:18] jnswindle opened #226 "> Opening pull request to show changes that are currently live."
__Originally posted by @Cryptomooner111 in https://github.com/github/site-policy/pull/122#issuecomment-1026032974__

[2022-03-09 17:26] #226 closed, assigned to nobody

[2022-03-23 16:51] jnswindle opened #227 "Title: What is the title of your presentation?"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [x] TA

[2022-03-28 15:25] #227 closed, assigned to nobody

[2022-04-06 03:55] h1t3ndr4 opened #229 "cannot access git-awards"
we are unable to visit at git-awards.com and also cannot fetch our profile for the same

[2022-04-19 14:24] oliyh commented on #222
I made https://stardev.io with similar features, if anyone is interested

[2022-04-22 02:55] lcolladotor commented on #222
wow thanks @oliyh!

[2022-04-23 22:55] vijay-jaisankar commented on #229
[This website](http://159.100.250.9/) appears to be the host of git-awards. Not sure what happened to the old site.

[2022-08-30 05:45] jnswindle opened #233 "> Title: What is the title of your presentation?"
- -

_Originally posted by @jnswindle in https://github.com/vdaubry/github-awards/issues/224#issuecomment-1048447493_

[2022-08-30 19:40] jnswindle opened #234 "> Title: What is the title of your presentation?"
- -

_Originally posted by @jnswindle in https://github.com/vdaubry/github-awards/issues/224#issuecomment-1048447493_

[2022-10-03 03:13] vanhocpham opened #236 "Usernames containing special characters such as -, _, ... were not found."
Please support

[2022-10-19 09:23] pboling commented on #229
It appears that the domain registration lapsed, and an enterprising person named Devin took it over, and redirected it to his personal portfolio site, where he advertises SEO. :(

[2022-10-26 09:40] pboling commented on #229
Note: There is a new, entirely unrelated, site with a similar scope - https://stardev.io/